@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red; }

.fullscreen {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.fullscreen > img {
  display: none; }

body {
  font-family: 'Lato', sans-serif;
  height: 100%; }

body.lock {
  overflow: hidden; }

.text {
  padding: 0 175px;
  font-size: 16px;
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  font-weight: 300;
  line-height: 24px;
  background-color: transparent; }
  @media (max-width: 979px) {
    .text {
      padding: 0 95px; } }
  @media (max-width: 768px) {
    .text {
      padding: 0 75.2px; } }
  @media (max-width: 480px) {
    .text {
      padding: 0 25px; } }

.text:last-child {
  margin: 0 0 55px 0; }
  @media (max-width: 768px) {
    .text:last-child {
      margin: 0 0 35px 0; } }

.title {
  font-size: calc(16px + 18 * ((100vw - 320px) / 960));
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  top: -15px;
  margin: 0 0 64px 0; }
  @media (max-width: 768px) {
    .title {
      margin: 0 0 32px 0;
      top: -7px; } }

.wrapper {
  overflow: hidden;
  min-height: 100%;
  min-width: 100%; }

.content {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px; }
  @media (max-width: 979px) {
    .container {
      max-width: 100%; } }

.top {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  color: #ffffff; }

.top__body {
  max-width: 603px;
  margin: 0 auto;
  padding: 286px 0 115px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }
  @media (max-width: 768px) {
    .top__body {
      padding: 146px 0 55.2px 0; } }

.top__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 65px;
  flex: 0 1 65px;
  margin: 0 0 94px 0; }

.top__logo img {
  max-width: 100%; }

.top__lable {
  font-size: calc(40px + 14 * ((100vw - 320px) / 960));
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 53px 0; }
  @media (max-width: 768px) {
    .top__lable {
      margin: 0 0 27px 0; } }

.top__title {
  font-size: calc(13px + 2 * ((100vw - 320px) / 960));
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  margin: 0 0 225px 0; }
  @media (max-width: 768px) {
    .top__title {
      margin: 0 0 110px 0; } }

.top__mouse {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 23px;
  flex: 0 1 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.top__mouse img {
  max-width: 100%; }

.about__row {
  padding: 151px 0 146px 0; }
  @media (max-width: 768px) {
    .about__row {
      padding: 75px 0 69px 0; } }

.about__item {
  border: 2px solid #3c3c3c;
  color: #3c3c3c;
  background: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#3c3c3c)), -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#3c3c3c));
  background: -webkit-linear-gradient(#3c3c3c, #3c3c3c), -webkit-linear-gradient(#3c3c3c, #3c3c3c);
  background: -o-linear-gradient(#3c3c3c, #3c3c3c), -o-linear-gradient(#3c3c3c, #3c3c3c);
  background: linear-gradient(#3c3c3c, #3c3c3c), linear-gradient(#3c3c3c, #3c3c3c); }

.about__text {
  margin: 0 0 35px 0; }
  @media (max-width: 768px) {
    .about__text {
      margin: 0 0 17px 0; } }

.services {
  color: #fff; }

.services__row {
  padding: 110px 0; }
  @media (max-width: 768px) {
    .services__row {
      padding: 55px 0; } }

.services__item {
  border: 2px solid #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background: -webkit-linear-gradient(#fff, #fff), -webkit-linear-gradient(#fff, #fff);
  background: -o-linear-gradient(#fff, #fff), -o-linear-gradient(#fff, #fff);
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff); }

.what {
  color: #3c3c3c;
  text-align: center; }

.what__row {
  padding: 110px 0; }
  @media (max-width: 768px) {
    .what__row {
      padding: 55px 0; } }

.what__item {
  border: 2px solid #3c3c3c;
  background: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#3c3c3c)), -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#3c3c3c));
  background: -webkit-linear-gradient(#3c3c3c, #3c3c3c), -webkit-linear-gradient(#3c3c3c, #3c3c3c);
  background: -o-linear-gradient(#3c3c3c, #3c3c3c), -o-linear-gradient(#3c3c3c, #3c3c3c);
  background: linear-gradient(#3c3c3c, #3c3c3c), linear-gradient(#3c3c3c, #3c3c3c); }

@media (max-width: 768px) {
  .what__title {
    margin: 0 0 45px 0; } }

.what__body__item {
  margin: 0 0 93px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 768px) {
    .what__body__item {
      margin: 0; } }

.what__img {
  margin: 0 0 41px 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 79px;
  flex: 0 1 79px; }
  @media (max-width: 768px) {
    .what__img {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 55px;
      flex: 0 1 55px; } }

.what__img img {
  max-width: 100%; }

.what__subtitle {
  font-size: calc(18px + 2 * ((100vw - 320px) / 960));
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.26px;
  margin: 0 0 43px 0; }
  @media (max-width: 768px) {
    .what__subtitle {
      margin: 0 0 26px 0; } }

.what__text {
  line-height: 25.89px; }

.cards {
  color: #ffffff;
  padding: 0 10px; }

.cards_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -5px; }

.cards__card {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 5px;
  margin: 0 0 10px 0;
  color: white; }
  .cards__card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  @media (max-width: 768px) {
    .cards__card {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%; } }
  @media (max-width: 480px) {
    .cards__card {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; } }

.cards__card img {
  max-width: 100%; }

.card__text {
  position: absolute;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  left: 7%;
  top: 70%;
  color: white;
  font-size: 34px;
  font-size: calc(15px + 19 * ((100vw - 320px) / 960));
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  z-index: 8; }
  .card__text:hover {
    color: #a3a3a3; }

.about {
  color: #3c3c3c; }

.about__title {
  margin: 0 0 58px 0; }
  @media (max-width: 768px) {
    .about__title {
      margin: 0 0 29px 0; } }

.about__text {
  margin: 0 0 42px 0; }
  @media (max-width: 768px) {
    .about__text {
      margin: 0 0 21px 0; } }

.about__button {
  margin: 0 0 50px 0;
  display: inline-block;
  background-color: #3c3c3c;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.54px;
  padding: 23px 137px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  @media (max-width: 768px) {
    .about__button {
      margin: 0 0 25px 0;
      padding: 11.5px 69px; } }
  @media (max-width: 480px) {
    .about__button {
      padding: 11.5px 15.5px; } }

.about__button:hover {
  background-color: grey;
  color: black; }

.lel {
  font-size: 60px;
  position: absolute;
  z-index: 50; }

.item {
  text-align: center;
  border-top: none;
  background-size: 22% 2px, 22% 2px;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right top; }
  @media (max-width: 480px) {
    .item {
      background-size: 12% 2px, 12% 2px; } }

.footer {
  margin: 0 0 50px 0;
  text-align: center; }

.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.footer_row img {
  padding: 0 2.5%; }

.footer_row span {
  padding: 0 2.5%; }

.popup {
  visibility: hidden;
  opacity: 0;
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.popup.open {
  visibility: visible;
  opacity: 1; }

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 10px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.popup.open .popup__content {
  opacity: 1;
  -webkit-transform: perspective(600px) translate(0px, 0px) rotateX(0);
  transform: perspective(600px) translate(0px, 0px) rotateX(0); }

.popup__content {
  background-color: grey;
  color: white;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg); }

.popup__close {
  display: inline-block;
  font-size: 45px;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px; }

.popup__title {
  font-size: 40px;
  margin: 0 0 20px 0; }

.popup__text {
  line-height: 30px; }

.contacts_forms {
  max-width: 100%;
  padding: 20px 0 0 0; }

.contacts_forms input {
  font-weight: 500;
  font-size: calc(12.5px + 5 * ((100vw - 320px) / (1400 - 320)));
  padding: 0 0 0 10px;
  margin: 0 0 30px 0; }

.forms_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.contacts_forms textarea {
  font-weight: 500;
  font-size: calc(12.5px + 5 * ((100vw - 320px) / (1400 - 320)));
  padding: 10px 0 0 10px;
  margin: 0 0 30px 0;
  resize: none;
  width: 100%; }

.forms_form button {
  padding: 22px 33px;
  background-color: #252525;
  color: #ffffff;
  margin: 0 auto;
  font-size: calc(12.5px + 2 * ((100vw - 320px) / (1400 - 320)));
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.forms_form button:hover {
  background-color: #595959; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

textarea:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

textarea:focus:-moz-placeholder {
  color: transparent; }

textarea:focus:-ms-input-placeholder {
  color: transparent; }

.contacts_forms {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  padding: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  max-width: 100%;
  display: -o-flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 10px;
  margin: 0 0 50px 0; }

.contacts_forms textarea {
  width: 100%; }

.forms_form {
  width: 100%; }

.input_50 {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.input_50 input {
  width: 100%;
  height: 50px;
  margin: 0  0 30px 0; }

.input_100 {
  width: 100%; }

.input_100 input {
  width: 100%;
  height: 50px; }

.forms_form {
  padding: 0; }

.forms_form button {
  margin: 0 25% 0 25%; }

.close {
  position: absolute;
  top: 50%;
  left: 50%; }
