@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'default/nullstyle.scss';
@import 'default/fz.scss';
@import 'default/media.scss';
@import 'default/variable.scss';
body{font-family: 'Roboto', sans-serif;}
@import 'repeat-styles/footer.scss';
@import 'default/fullscreen.scss';

    
.wrapper{    
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container{
	max-width: 1200px;
	padding: 0 45px;
	margin: 0 auto;
   
}
.content{
	flex:1 1 auto;
	background-color: #f7f7f7;
	@include _600 {
		padding: 30px 0 0 0;
	}

}

.first {
	padding: 20px 0;
	margin: 0 0 45px 0;
	@include _600 {
		display: none;
	}
}
.first__row {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding: 0 25px;
}
.first__slider {
	min-width: 0;

}
.first__item {
	position: relative;
	overflow: hidden;
}
.first__item img{
	max-width: 100%;
   
}
.first__item div{
	position: absolute;
	z-index: 11;
	border-radius: 50%;
}
.first__title{
	bottom:50%;
	left: 45%;
    width: 428px;
    height: 428px;
    background-color: #8d8b8b;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    span{
    	color:white;
    	text-align: center;
    	margin: 58% 0 0 0; 
        font-size: 32px;
        font-weight: 700;
        line-height: 45px;
        text-transform: uppercase;
        padding: 0 60px;
        &:last-child{
        	margin: 20px 0 0 0;
        	font-size: 20px;
        	font-weight: 400;
        }
    }
      
}
.first__subtitle{
	top: 50%;
	left: 50%;
	text-align: center;
    width: 134px;
    padding: 20px 0;
    height: 134px;
    background-color: #ff9c00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span{
    	&:nth-child(1){
            color: #35302d;
            font-size: 20px;
            margin: 0 0 5px 0;
    	}
    	&:nth-child(2){
            color: #ffffff;
            font-size: 40px;
            font-weight: 700;
            margin: 0 0 5px 0;
            text-transform: uppercase;
    	}
    	&:nth-child(3){
            color: #35302d;
            font-size: 20px;
            margin: 0 0 0 5px;
    	}
    }

}

.second {
	margin: 0 0 45px 0;}
.second__row {
	display: flex;
	flex-direction: column;
}
.second__text {
	display: flex;
	margin: 0 0 30px 0;
}
.second__lable {
	flex:1 1 auto;
}
.lable {
	text-align: center;
    color: #7c7373;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}
.second__link-section {
    color: #ff9c00;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: underline;
}
.second__slider {
	display: flex;
	min-height: 0;
}
.second__item {
	background-color: #fff;
	flex:0 1 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	 &>span{
    	position: absolute;
    	display: inline-block;
    	top:4%;
    	left:2%;
    	transform:rotate(-45deg);
    	color:white;
    	z-index:25;
    	font-size: 20px;
    }
	&:hover{
		.second__border{
			display:block;
		}
	}

}
.second__border{
	position: absolute;
	width:100%;
	height: 100%;
	border: 1px solid #fd9b00;
	display: none;

}
.second__triangle {
	top:0;
	left: 0;
	position: absolute;
    z-index: 22; 
    border-left:88px solid red;
    border-bottom:88px solid transparent;
 
}
.second__part {
	flex:1 1 auto;
	position: relative;
	z-index: 10;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.part__img {
	flex:0 0 234px;
	margin: 0 0 17px 0;
}
.part__img img{
	max-width: 100%;
}
.part__text {
	flex: 1 1 auto;
	padding: 0 25px;
	text-align: center;
    color: #000000;
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 29px 0;
}
.part__price {
	padding:0 15px;
	margin: 0 0 15px 0;
		text-align: center;	

	a{
		&:first-child{
            color: #7c7373;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            text-transform: uppercase;
            text-decoration: line-through;
            margin: 0 25px 0 0;
		}
		&:last-child{
            color: #000000;
            font-size: 20px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
		}
	}
}
.part__buy {
	display: flex;
	align-items: center;
	justify-content: center;
    color: #ffffff;
    font-size: 15px;
    line-height: 22px;
    padding: 17px 25px;
    background-color: #fd9b00;
    text-align: center;
    margin: 0 15px;
    transition:$ts5;
    border: 1px solid #ff9c00;
    @include _1082 {
    	margin: 0 0 0 0;

    }
    &:hover{
      color:black;
      background-color: #fff;
      &:before{
      	content: url('../../img/icons/garbage_small_black.webp');
      }
    }
    &:before{
    	position: relative;
    	content: url('../../img/icons/garbage_small_light.webp');
    	right: 10px;
    }
}
.triangle__second{
		  border-left:88px solid green;
    border-bottom:88px solid transparent;

}
.second__item{
	&>span{
		top:5%;
		left:-1%;
	}
}
@import 'default/default sliders settings.scss';
.mailing {
	background:#00b5ab url('../../img/background/bg_mailing.webp') left center no-repeat;
	padding: 21px 0;
	margin: 0 0 45px 0;
}
.mailing__row {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	@include _1082 {
		flex-direction: column;	
		justify-content: center;
		align-items: center;			
	}

}
.mailing__title {
    color: #fefefe;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    @include _1082 {
    	margin:0 0 30px 0;
    }
    @include _768 {
			text-align: center;	
			line-height:25px;
		}
}
.mailing__form {


	input::-webkit-input-placeholder {
        color: #999;
    }
    input:focus::-webkit-input-placeholder {
        color: transparent;
    }
    input:-moz-placeholder {
        color: #999;
    }
    input:focus:-moz-placeholder {
        color: transparent;
    }
    input::-moz-placeholder {
        color: #999;
    }
    input:focus::-moz-placeholder {
        color: transparent;
    }
    input:-ms-input-placeholder {
        color: #999;
    }
    input:focus:-ms-input-placeholder {
        color: transparent;
    }
	input{
		color:white;
		padding: 13px;
		font-size: 20px;
		width: 458px;
		height: 38px;
		background-color: #66d3cd;
		@include _768 {
			width: 358px;
		}
		@include _480 {
			width: 308px;
		}
			&::-webkit-input-placeholder {color:white;
				&:focus{
					color:transparent;
				}}
            &::-moz-placeholder          {color:white;
            &:focus{
            	color:transparent;
            }}/* Firefox 19+ */
            &:-moz-placeholder           {color:white;
            &:focus{
            	color:transparent;
            }}/* Firefox 18- */
            &:-ms-input-placeholder      {color:white;
            	&:focus{
            		color:transparent;
            	}}
		
	}
}

.guarantee {
	margin: 0 0 35px 0;
}
.guarantee__row {
	display: flex;
	flex-direction: column;
}
.guarantee__title {margin: 0 0 38px 0;}
.guarantee__body {
	flex: 1 1 auto;
	display: flex;
	@include _1082 {
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;	

	}

}
.guarantee__item {
	background-color: #fff;
	box-shadow: 0 0 59px rgba(0, 0, 0, 0.1);
	display: flex;
	flex:1 1 auto;
	flex-direction: column;
	align-items: center;
	padding: 26px 55px;
	margin: 0 29px 30px 0;
	min-width:224px;
	@include _1082 {
		flex:0 1 50%;
	}
	@include _480 {
		margin: 0 0 30px 0;
	}
}
.guarantee__img {
	flex:0 1 45px;
	margin: 0 0 31px 0;
}
.guarantee__img img{
	max-width: 100%;
}
.guarantee__text {
	text-align: center;
	flex:1 1 auto;
    color: #000000;
    font-size: 18px;
    line-height: 22px;
}


.copyright {
	background-color:#383434 ;
    padding: 20px 0;}
.copyright__row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include _600 {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

}
.copyright a{
    color: #8b8787;
    font-size: 14px;
    font-weight: 400;
    transition:$ts5;
    &:hover{
    	color:white;
    }
}
.copyright__list {
	display: flex;
	li{
		&:last-child{
			margin: 0;
	};

		margin:0 35px 0 
		}
	@include _600 {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 0 20px 0;
		li{
			margin: 0 0 22px 0;
		}
	}}
.copyright__title {
}
@import 'repeat-styles/header.scss';