@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		height: 100%;
		min-height: 100%;
	}
}
@layer components {
}
@layer utilities {
	.popup.open {
		opacity: 1;
		visibility: visible;
	}

	.popup {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(74, 12, 50, 0.6);
		transition: all 0.8s ease 0s;
		opacity: 0;
		visibility: hidden;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 6;
	}
}
