@font-face {
	font-family: "Riffic";
	src: url("../fonts/Riffic.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Warungasem";
	src: url("../fonts/Warungasem.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
