.footer {
	background-color: #403c3b;
	padding: 35px 0;
}
.footer__row {
	display: flex;
}
.footer__mailing {
	color:white;
	display: flex;
	flex-direction: column;
	margin: 0 11px 0 0;
}
.footer__logo {
	flex:0 1 46px;
	margin: 0 0 30px 0;
}
.footer__logo img{
	max-width: 100%;
}
.footer__title {
	margin: 0 0 20px 0;
    color: #fefefe;
    padding: 0 20px 0 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
}
.footer__form {}
.footer__form input{
	width: 360px;
	height: 38px;
	padding: 13px;
	color:white;
	background-color: #403c3b;
	border: 1px solid #8c8a89;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

}
.title{

    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 30px 0;

}
.footer__catalog {
	margin: 0 75px 0 0;
}
.catalog__lists{
	display: flex;
}
.catalog__list {
	margin: 0 20px 0 0;
	&:last-child{
		margin: 0;
	}

}
.catalog__list li a{
    color: #998985;
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
     transition:$ts5;
    &:hover{
    	color:white;
    }

}

.footer__contacts {
	display: flex;
	flex-direction: column;
}
.contacts__title {}
.contacts__list{margin:0 0 30px 0;
	&:before{
		position: relative;
		top:27px;
		right:36px;
	}
}
.contacts__list li  {
	color:white;
}
.footer__links {

}
.footer__email {
	color:white;
	margin: 0 0 20px 0;
	&:before{
		content: url('../../../img/icons/email.webp');
	}
}
.footer__media {
	right: 0px;
}
.links__media li{
}

@include _1082 {
	.footer{
		padding:35px 0 0 0;
	}
	.footer__row{
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		& div{
			flex:0 1 100%;
				margin: 0 0 30px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		ul{
			margin: 0 0 30px 0;
		}
		}

	}
	.footer__contacts{
		margin: 0;
	}
	.footer__links{
		margin: 0;
	}
	@include _480 {
		.footer__title{
			padding: 0 20px;
		}
		.footer__form{
			padding: 0 20px;
		}
		.footer__form input{
			width:100%; 

		}
	}

}