@import "_fonts.scss";

@import "_nullstyle.scss";

// //!mixins
@import "_mixins.scss";

body {
	font-family: "Roboto", sans-serif;
	min-width: 1280px;
	background: #e5e5e5;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.menu-sports,
.content {
	height: calc(100vh - 120px);
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 0px;
	}
}
.header {
	display: flex;
	align-items: flex-end;
	background: #e3ebff;
	color: #ffffff;
	margin: 0 0 10px;
}
.header-logo {
	flex-shrink: 0;
	@include flex-column-center;
	background: #1347ff;
	border-radius: 0px 25px 0px 0px;
	padding: 25px;
	height: 107px;
	&__title {
		font-style: italic;
		font-weight: 700;
		font-size: 33px;
		margin: 0 0 2px;
	}

	&__subtitle {
		@include flex-a-center;
		font-size: 10px;
		img {
			margin: 0 2px 0 6px;
			width: 14px;
		}
	}
}
.header-sidebar {
	@include flex-between;
	flex: 1 1 auto;
	background: #1347ff;
	padding: 20px 30px;
	&__info {
		@include flex-a-center;
	}

	&__item {
		@include flex-a-center;
		margin: 0 15px 0 0;
	}

	&__label {
		color: #e4e6ec;
		font-size: 14px;
		margin: 0 5px 0 0;
	}

	&__description {
		@include inline-flex-center;
		font-weight: 500;
		font-size: 14px;
		color: #ffffff;
		img {
			width: 15px;
			height: 15px;
			border-radius: 50%;
		}
	}

	&__menu {
	}

	&__link {
		color: #ffffff;
		font-weight: 500;
		font-size: 14px;
		padding: 8px 15px;
		transition: all 0.3s;
		text-transform: uppercase;
		border-radius: 10px;
		&:hover {
			background: #597eff;
			box-shadow: 0px 6px 10px rgba(67, 64, 95, 0.25);
		}
		&.disabled {
			pointer-events: none;
			color: #cccccc;
		}
	}
}
.header-wrapper {
}
.header-menu {
	@include flex-a-center;
	padding: 16px 5px 16px 30px;
	&__item {
		cursor: pointer;
		position: relative;
		display: flex;
		font-size: 16px;
		margin: 0 5px 0 0;
		&:last-child {
			margin: 0;
		}
	}
	&__text {
		color: #1347ff;
	}
	&__counter {
		position: absolute;
		right: -27px;
		top: -11px;
		@include inline-flex-center;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		font-weight: 500;
		font-size: 10px;
		color: #ffffff;
		background: #d85454;
	}
}
.menu-sports {
	flex-shrink: 0;
	width: 200px;
	padding: 0 0 0 10px;
	margin: 0 5px 0 0;
	&:last-child {
		margin: 0;
	}
	&__list {
	}

	&__item {
		margin: 0 0 2px;
		&:last-child {
			margin: 0;
		}
	}

	&__item-content {
		@include flex-a-center;
		padding: 13px 30px;
		height: 48px;
		background: #618dff;
		cursor: pointer;
		margin: 0 0 2px;
	}

	&__item-title {
		display: inline-block;
		width: 100%;
		font-weight: 500;
		font-size: 17px;
		@include text-ellipsis;
		text-transform: uppercase;
		color: #ffffff;
	}

	&__item-arrow {
	}
	&__subitem-title {
		display: inline-block;
		width: 100%;

		@include text-ellipsis;
	}
	&__subitem-content {
		font-size: 16px;
		position: relative;
		color: #000000;
		background: #e3ebff;
		padding: 13px 30px;
		height: 48px;
		cursor: pointer;
		display: none;
		transition: all 0.3s;
		margin: 0 0 2px;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -10px;
			display: inline-block;
			height: 100%;
			width: 4px;
			transition: all 0.3s;
			z-index: 2;
			background: transparent;
			border-radius: 2px;
		}
		.main-sports__subsubitem-content {
			display: none;
		}
		&.open {
			@include flex-a-center;
		}
		&:hover,
		&.active {
			font-size: 17px;
			color: #ffffff;
			font-weight: 500;
			background: #1347ff;
			border-radius: 0px 15px 15px 0px;
			&::before {
				background: #1347ff;
			}
		}
	}
	&__sublist {
	}
	&__subitem {
	}

	&__subsublist {
	}

	&__subsubitem-content {
		display: none;
		&.open {
			display: block;
		}
	}
}
.main {
	flex: 1 1 auto;
	padding: 0 10px 0 0;
	&__container {
		display: flex;
	}
}
.menu {
	&__container {
	}
}
.content {
	display: flex;
	flex: 1 1 auto;
	overflow-x: scroll;
	&__container {
		flex: 1 1 auto;
		display: inline-block;
	}
	&__title {
		@include flex-between;
		background: #1347ff;
		border-radius: 5px;
		padding: 15px 25px;
		margin: 0 0 10px;
	}

	&__subtitle {
		@include flex-a-center;
		background: #e3ebff;
		border-radius: 5px;
		padding: 12px 25px;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
		margin: 0 0 10px;
		span {
			color: #2d3957;
			@include text-ellipsis;
		}
	}

	&__heading {
		@include flex-center;
		color: #ffffff;
		background: #1347ff;
		border-radius: 5px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 16px;
		padding: 12px;
		margin: 0 0 10px;
	}

	&__button {
		cursor: pointer;
		display: flex;
		border-radius: 5px;
		overflow: hidden;
	}

	&__arrow {
		@include inline-flex-center;
		background: #99b4fa;
		padding: 8px 20px;
		img {
			width: 13px;
		}
	}

	&__label {
		@include inline-flex-center;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		padding: 6px 20px;
		color: #ffffff;
		background: #618dff;
	}

	&__refresh {
		cursor: pointer;
		img,
		svg {
			width: 20px;
			height: 20px;
		}
	}
	&__item {
		margin: 0 0 10px;
		&:last-child {
			margin: 0;
		}
		.content {
			&__subtitle {
				border-radius: 5px 5px 0px 0px;
				margin: 0;
			}
		}
	}

	&__body {
		display: flex;
		justify-content: center;
		background: #ffffff;
		padding: 20px 15px;
		border-radius: 0px 0px 5px 5px;
	}
}
.fields {
	margin: 0 50px 0 0;
	&_big {
		padding: 20px 0 15px;
		.fields {
			&__button {
				min-width: 193px;
			}
		}
		.field {
			&__input {
				input {
					min-width: 450px;
				}
			}
		}
		.field-dropdown {
			&__current {
				min-width: 450px;
			}
		}
	}
	&__buttons {
		padding: 10px 0 0;
		display: flex;
		justify-content: center;
	}
	&__button {
		@include inline-flex-center;
		min-width: 121px;
		height: 48px;
		background: #1347ff;
		border: 1px solid #1347ff;
		font-weight: 500;
		font-size: 14px;
		text-align: center;
		color: #ffffff;
		border-radius: 15px;
		margin: 0 60px 0 0;
		&:last-child {
			margin: 0;
		}
		&_special {
			background: #ffffff;
			color: #111630;
		}
	}
	&:last-child {
		margin: 0;
	}
}
.field {
	position: relative;
	margin: 0 0 20px;
	&:last-child {
		margin: 0;
	}
	&__label {
		text-transform: uppercase;
		color: #3d414f;
		font-weight: 500;
		font-size: 14px;
		margin: 0 0 5px 10px;
		&_special {
			color: #a4a4a5;
		}
		&_alternative {
			color: #9396a0;
		}
		&:last-child {
			margin: 0;
		}
	}

	&__box {
		@include flex-a-center;
		position: relative;
		margin: 0 0 4px;
		&:last-child {
			margin: 0;
		}
		&.disabled {
			.field {
				&__input {
					input {
						color: #cacaca;
						pointer-events: none;
					}
				}
				&__icon {
					svg {
						path {
							fill: #cacaca;
						}
					}
				}
			}
		}
	}

	&__info {
		color: #727581;
		font-size: 14px;
		margin: 0 10px 0 0;
		&:last-child {
			margin: 0;
		}
	}

	&__input {
		width: 100%;
		min-width: 300px;
		input,
		textarea {
			width: 100%;
			background: #f7f7fa;
			border: 1px solid #e4e4f4;
			border-radius: 15px;
			font-size: 14px;
			color: #13192d;
			padding: 15px 20px;
			height: 50px;
			resize: none;
			&::placeholder {
				color: #c3c7d6;
			}
			&.invalid {
				border: 1px solid #e55959;
			}
			&[type="password"] {
				font-size: 23px;
				letter-spacing: 3px;
			}
		}
		&_special {
			input,
			textarea {
				background: #ffffff;
			}
		}
		&_big {
			input,
			textarea {
				font-size: 16px;
				min-height: 132px;
			}
		}

		.password {
			padding: 16px 40px 16px 20px;
		}
	}

	&__descriptions {
		display: flex;
		justify-content: flex-end;
	}

	&__description {
		color: #9396a0;
		font-weight: 500;
		font-size: 12px;
		margin: 0 5px 0 0;
		&:last-child {
			margin: 0;
		}
	}
	&__icon {
		position: absolute;

		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		svg {
			path {
				fill: #000000;
			}
		}
		&.view {
			.field {
				&__none-visible {
					display: inline-block;
				}
				&__visible {
					display: none;
				}
			}
		}
	}

	&__view {
		width: 30px;
		i,
		svg {
			font-size: 1px;
		}
	}

	&__none-visible {
		display: none;
		width: 22px;
	}
	&__visible {
		display: inline-block;
		width: 22px;
	}
	&__error {
		display: none;
		position: absolute;
		left: 0;
		bottom: -16px;
		font-size: 12px;
		color: #e55959;
		padding: 0 0 0 8px;
		&.active {
			display: inline-block;
		}
	}
	&__checkbox {
		@include flex-a-center;
		justify-content: flex-end;
		padding: 0 20px 0 0;
	}

	&__checkbox-label {
		font-weight: 500;
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
		color: #9396a0;
		margin: 0 10px 0 0;
	}

	&__checkbox-item {
		@include inline-flex-center;
		i,
		svg {
			display: none;
		}
		input {
			position: absolute;
			z-index: -1;
			opacity: 0;
			visibility: hidden;
			-webkit-appearance: none;
			& + label {
				cursor: pointer;
				user-select: none;
				@include inline-flex-center;
				width: 15px;
				height: 15px;
				background: #ffffff;
				border: 1px solid #797979;
				border-radius: 3px;
			}
			&:checked + label {
				background: #1347ff;
				i,
				svg {
					display: block;
					color: #ffffff;
				}
				label {
					i,
					svg {
						display: block;
					}
				}
			}
		}
	}
}

.field-dropdown {
	min-width: 300px;
	position: relative;
	&_special {
		.field-dropdown {
			&__current {
				background: #ffffff;
			}
		}
	}
	&__list {
	}

	&__current {
		width: 100%;
		@include flex-a-center;
		background: #f7f7fa;
		border: 1px solid #e4e4f4;
		border-radius: 15px;
		padding: 15px 20px;
		cursor: pointer;
		&.active {
			border-radius: 15px 15px 0 0;
		}
	}

	&__body {
		flex: 1 1 auto;
		@include flex-a-center;
		overflow: hidden;
	}

	&__title {
		@include text-ellipsis;
		font-size: 14px;
		color: #13192d;
	}

	&__arrow {
		flex-shrink: 0;
		font-size: 16px;
		color: #000000;
	}

	&__content {
		max-height: 159px;
		width: 100%;
		display: none;
		position: absolute;
		z-index: 2;
		background: #ffffff;
		box-shadow: 0px 7px 15px #e6e6e6;
		border-radius: 0 0 15px 15px;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 4px;
			border-radius: 4px;
		}
		&::-webkit-scrollbar-track-piece {
			background-color: #ffffff;
		}
		&::-webkit-scrollbar-thumb {
			background: #dfdfdf;
		}
		&.open {
			display: block;
		}
	}

	&__theme {
		cursor: pointer;
		@include flex-a-center;
		height: 44px;
		padding: 16px 20px;
		&.active,
		&:hover {
			color: #ffffff;
			background: #1347ff;
		}
	}

	&__label {
		font-size: 14px;
		@include text-ellipsis;
	}
}

.bets-table {
	min-width: 1120px;
	margin: -10px -5px;
	&:first-child {
		margin: 0;
	}
	table {
		width: 100%;
		border-spacing: 5px 10px;
	}

	&__title {
		font-size: 16px;
		td {
			height: 32px;
			div {
				text-transform: uppercase;
				font-weight: 500;
				white-space: nowrap;
				height: 100%;
				@include flex-a-center;
				color: #ffffff;
				padding: 5px 20px;
				background: #618dff;
				border-radius: 5px;
			}
		}
	}

	&__row {
		&_special {
			.bets-table {
				&__information {
					background: #e3ebff;
				}
				&__coeficients {
					background: #e3ebff;
				}
			}
		}
		td {
			max-width: 100px;
			height: 44px;
		}
	}

	&__information {
		font-size: 13px;
		height: 100%;
		text-align: center;
		@include flex-a-center;
		background: #ffffff;
		border-radius: 5px;
	}

	&__number {
		width: 20%;
	}

	&__date {
		width: 30%;
		@include flex-column;
		align-items: flex-end;
		margin: 0 6px 0 0;
	}

	&__event {
		text-transform: uppercase;
		width: 50%;
		padding: 0 2px;
	}

	&__coeficients {
		height: 100%;
		display: flex;
		background: #ffffff;
		border-radius: 5px;
	}

	&__coeficient {
		font-size: 14px;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1 1 50%;

		transition: all 0.3s;
		text-align: center;
		&:hover,
		&.active {
			background: #5b7fff;
			box-shadow: 0px 6px 12px #b2b2bd;
			border-radius: 5px;
			color: #ffffff;
			text-decoration: underline;
		}
		&_special {
			color: #c72222;
		}
		&_underline {
			text-decoration: underline;
		}
	}
	&__hidden {
		display: none;
	}
}
.bets-table-header {
	margin: 0 0 10px;
	th {
		height: 75px;
	}
	&__row {
	}

	&__item {
		min-width: 250px;
		height: 100%;
		@include flex-column;
		color: #ffffff;
		background: #1347ff;
		border-radius: 5px;
	}

	&__description {
		min-width: 350px;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;
		@include flex-a-center;
		flex-direction: row;
	}

	&__title {
		font-size: 14px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0 0 5px;
	}

	&__box {
		display: flex;
		width: 100%;
		font-size: 11px;
		& > * {
			min-height: 26px;
			text-transform: uppercase;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex: 1 1 50%;
			font-weight: 700;
		}
	}
	&__number {
		text-align: center;
		width: 20%;
	}

	&__time {
		text-align: center;
		width: 30%;
	}

	&__event {
		text-align: center;
		width: 50%;
	}
}

.summary-table {
	text-transform: uppercase;
	white-space: nowrap;
	min-width: 1120px;
	margin: -10px -5px 10px -5px;
	&_special {
		.summary-table {
			&__title {
				min-width: 100px;
				justify-content: center;
				text-align: center;
				&_special {
					min-width: 470px;
				}
			}
			&__row {
				&:hover,
				&.active {
					.summary-table {
						&__title {
							background: #618dff;
						}
						&__item {
							background: #ffffff;
						}
					}
				}
				&_special {
					.summary-table {
						&__item {
							background: #e3ebff;
						}
					}
				}
				.summary-table {
					&__item {
						&:hover,
						&.active {
							background: #ffffff;
							text-decoration: none;
							color: #000000;
						}
					}
				}
			}
		}
	}
	&:first-child {
		margin: 0;
	}
	&:last-child {
		margin: -10px 0 0 0;
	}
	table {
		width: 100%;
		border-spacing: 5px 10px;
	}

	&__title {
		font-weight: 500;
		@include flex-a-center;
		background: #618dff;
		border-radius: 5px;
		transition: all 0.2s;
		height: 100%;
		color: #ffffff;
		font-size: 16px;
		padding: 0 20px;
		&_special {
			min-width: 470px;
		}
	}
	&__row {
		transition: all 0.2s;
		&:hover,
		&.active {
			.summary-table {
				&__title {
					background: #1347ff;
				}
				&__item {
					background: #597eff;
					color: #ffffff;
					i,
					svg {
						fill: #ffffff;
						path {
							fill: #ffffff;
						}
					}
				}
				&__checkbox {
					input {
						&:checked + label {
							i,
							svg {
								path {
									fill: #1347ff;
								}
							}
						}
					}
				}
			}
		}
		&_special {
			.summary-table {
				&__item {
					background: #e3ebff;
				}
			}
			.summary-table-dropdown {
				&__current {
					background: #e3ebff;
				}
			}
		}
		&_alternative {
			.summary-table {
				&__item {
					background: #618dff;
					color: #ffffff;
				}
			}
			.summary-table-dropdown {
				&__current {
					background: #618dff;
				}
			}
		}
		.summary-table {
			&__item {
				&:hover,
				&.active {
					background: #1347ff;
					text-decoration: underline;
					color: #ffffff;
					box-shadow: 0px 6px 12px #b1b6c6;
				}
				&.disabled {
					color: #aaaaaa;
					pointer-events: none;
					background: #e8e9ec;
				}
				&_highlighted {
					color: #b01a1a;
				}
			}
		}

		td {
			height: 44px;
		}
	}
	&__empty {
		text-align: center;
		display: none;
		&.active {
			display: table-row;
		}
		td {
			height: 44px;
		}
	}
	&__item {
		font-size: 14px;
		cursor: pointer;
		@include flex-column-center;
		text-align: center;
		background: #ffffff;
		min-width: 58px;
		transition: all 0.3s;
		border-radius: 5px;
		min-height: 44px;
		padding: 3px 10px;
		height: 100%;
		.summary-table-dropdown {
			&__title {
				margin: 0 2px 0 0;
				&:last-child {
					margin: 0;
				}
			}
		}
		svg,
		i,
		path {
			transition: all 0.3s;
		}
		span {
			margin: 0 0 1px;
			&:last-child {
				margin: 0;
			}
		}
		&:hover,
		&.active {
			i,
			svg {
				fill: #ffffff;
				path {
					fill: #ffffff;
				}
			}
			background: #1347ff;
			text-decoration: underline;
			color: #ffffff;
			box-shadow: 0px 6px 12px #b1b6c6;
		}
		&.disabled {
			color: #aaaaaa;
			pointer-events: none;
			background: #e8e9ec;
		}
		&_big {
			padding: 3px 10px 3px 20px;
			span {
				min-width: 1000px;
				white-space: normal;
			}
		}
		&_left {
			text-align: left;
			align-items: flex-start;
		}
		&_plus {
			color: #1347ff;
			font-size: 13px;
		}
		&_bold {
			font-weight: 700;
		}
		&_special {
			background: #e3ebff;
		}
		&_medium {
			padding: 3px 0 3px 20px;
			span {
				min-width: 300px;
				white-space: normal;
			}
		}
	}
	&__checkbox {
		display: inline-block;
		width: 23px;
		height: 23px;
		i,
		svg {
			display: none;
			font-size: 16px;
		}
		input {
			position: absolute;
			z-index: -1;
			opacity: 0;
			visibility: hidden;
			-webkit-appearance: none;
			& + label {
				cursor: pointer;
				user-select: none;
				@include inline-flex-center;
				width: 23px;
				height: 23px;
				border-radius: 2px;
				background: #ffffff;
				border: 1px solid #c1c8d7;
			}
			&:checked + label {
				i,
				svg {
					display: block;
					color: #1347ff;
				}
				label {
					i,
					svg {
						display: block;
					}
				}
			}
		}
		&.disabled {
			pointer-events: none;
			input {
				& + label {
					user-select: none;
					background: #e9ecf1;
					border: 1px solid #c1c8d7;
				}
				&:checked + label {
					i,
					svg {
						display: block;
						color: #1347ff;
					}
					label {
						i,
						svg {
							display: block;
						}
					}
				}
			}
		}
	}
	&__input {
		min-width: 203px;
		input {
			width: 100%;
			padding: 7px 1px;
			background: #f5f8ff;
			border-radius: 5px;
			color: #1a1e40;
			font-size: 15px;
			text-align: center;
		}
	}
}
.hidden-row {
	display: none;
	&.visible {
		display: table-row;
	}
}
.summary-table-header {
	font-weight: 700;
	th {
		height: 62px;
	}
	&__row {
	}

	&__item {
		min-width: 62px;
		font-size: 10px;
		padding: 0 1px;
		text-align: center;
		@include flex-column;
		height: 100%;
		background: #1347ff;
		border-radius: 5px;
		color: #ffffff;
		&_small {
			.summary-table-header {
				&__box {
					min-width: 150px;
				}
			}
		}
	}

	&__type {
		min-width: 320px;
		font-size: 16px;
	}
	&__title {
		font-size: 14px;
		font-weight: 900;
		padding: 0 3px;
		width: 100%;
	}

	&__box {
		min-width: 300px;
		font-size: 13px;
		height: 16px;
		width: 100%;
		margin: 10px 0 0 0;
		display: flex;
		&:first-child {
			margin: 0;
		}
		& > * {
			padding: 0 3px;
			width: 100%;
		}
		&_small {
			min-width: 0px;
		}
	}
	&__edit {
		color: #99b4fa;
		font-size: 15px;
		margin: 0 0 10px 0;
		&_alternative {
			color: #ffffff;
			font-size: 18px;
		}
		&:last-child {
			margin: 0;
		}
		&.disabled {
			color: #94a0cb;
		}
	}
	&__checkbox {
		i,
		svg {
			display: none;
			font-size: 16px;
		}

		input {
			position: absolute;
			z-index: -1;
			opacity: 0;
			visibility: hidden;
			-webkit-appearance: none;
			& + label {
				cursor: pointer;
				user-select: none;
				@include inline-flex-center;
				width: 23px;
				height: 23px;
				border-radius: 2px;
				background: #ffffff;
			}
			&:checked + label {
				i,
				svg {
					display: block;
					color: #ffffff;
				}
				background: #1347ff;
				label {
					i,
					svg {
						display: block;
					}
				}
			}
		}
	}
	&__bin {
		color: #ffffff;
		i,
		svg {
			font-size: 18px;
			fill: #ffffff;
		}
		&.disabled {
			color: #94a0cb;
			i,
			svg {
				fill: #94a0cb;
			}
		}
	}
}
.summary-table-dropdown {
	position: relative;
	&__list {
	}

	&__current {
		min-width: 169px;
		width: 100%;
		@include flex-center;
		background: #ffffff;
		border: 1px solid transparent;
		border-radius: 5px;
		padding: 12px 5px;
		height: 44px;
		cursor: pointer;
		&.active {
			border-color: #e3ebff;
			border-radius: 5px 5px 0 0;
		}
	}

	&__icon {
		flex-shrink: 0;
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 8px 0 0;
		img {
			height: 100%;
			width: 100%;
		}
	}

	&__body {
		flex: 1 1 auto;
		@include flex-center;
		overflow: hidden;
	}

	&__title {
		font-size: 14px;
		font-weight: 700;
		color: #343858;
		margin: 0 6px 0 0;
		&:last-child {
			margin: 0;
		}
	}

	&__arrow {
		flex-shrink: 0;
		font-size: 15px;
		color: #343858;
	}

	&__content {
		max-height: 159px;
		width: 100%;
		visibility: hidden;
		position: absolute;
		z-index: 2;
		background: #f9faff;
		box-shadow: 0px 4px 5px rgba(166, 166, 166, 0.25);
		border-radius: 0 0 5px 5px;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 2px;
			border-radius: 2px;
		}
		&::-webkit-scrollbar-track-piece {
			background-color: #ffffff;
		}
		&::-webkit-scrollbar-thumb {
			background: #dfdfdf;
		}
		&.open {
			visibility: visible;
		}
	}

	&__theme {
		cursor: pointer;
		@include flex-center;
		height: 44px;
		padding: 12px 5px;
		border-bottom: 1px solid #e3ebff;
		&:last-child {
			margin: 0;
		}
		&.active,
		&:hover {
		}
	}

	&__label {
		color: #343858;
		text-align: center;
		font-size: 14px;
		@include text-ellipsis;
	}
}
.paginations {
	@include flex-a-center;
	&__arrow {
		line-height: 16px;
		cursor: pointer;
		color: #1347ff;
		font-size: 14px;
		&.disabled {
			pointer-events: none;
			color: #92939f;
		}
	}

	&__items {
		@include flex-a-center;
		margin: 0 15px;
	}

	&__item {
		line-height: 16px;
		cursor: pointer;
		color: #72768d;
		margin: 0 10px 0 0;
		&.active {
			pointer-events: none;
			color: #1347ff;
		}
		&:last-child {
			margin: 0;
		}
	}
}
.add {
	display: none;
	padding: 14px 45px;
	cursor: pointer;
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 500;
	font-size: 17px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background: #1347ff;
	border-radius: 15px;
	&.active {
		@include inline-flex-center;
	}
}
.export {
	font-size: 14px;
	height: 55px;
	background: #ffffff;
	position: relative;
	text-transform: uppercase;
	background: #ffffff;
	border-radius: 5px;
	font-weight: 900;
	@include flex-a-center;
	padding: 0 0 0 20px;
	float: right;
	&.hidden {
		display: none;
	}
	&__label {
		color: #949ca7;
		margin: 0 30px 0 0;
	}

	&__item {
		position: relative;
		cursor: pointer;
		height: 44px;
		@include flex-center;
		padding: 0 12px;
		background: #ffffff;
		border-radius: 2px;
		margin: 0 5px 0 0;
		&:hover,
		&.active {
			&::after {
				display: none;
			}
			box-shadow: 0px 6px 12px #9b9ca4;
			border-radius: 5px;
		}
		&:after {
			content: "";
			display: inline-block;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 30px;
			background: #949ca7;
			border-radius: 2px;
			width: 2px;
			margin: 0 0 0 10px;
		}
		&:last-child {
			&::after {
				display: none;
			}
		}
		&.active {
			background: #1347ff;
			.export {
				&__title {
					color: #ffffff;
				}
			}
		}
		&.disabled {
			pointer-events: none;
			opacity: 0.5;
		}
		&:last-child {
			margin: 0;
		}
	}

	&__title {
		color: #202f46;
		margin: 0 5px 0 0;
	}

	&__icon {
		display: inline-block;
		width: 17px;
		height: 17px;
		i,
		svg,
		img {
			font-size: 17px;
			width: 17px;
			height: 17px;
		}
	}
}
.table-buttons {
	display: flex;
	justify-content: center;
	width: fit-content;
	margin: 0 0 0 auto;
}
.table-button {
	cursor: pointer;
	@include inline-flex-center;
	color: #ffffff;
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	width: 178px;
	height: 44px;
	background: #1347ff;
	border-radius: 5px;
}
.login {
	height: 100%;
	&__body {
		height: 100%;
		display: flex;
	}

	&__content {
		height: 100%;
		flex: 1 1 auto;
		@include flex-column-center;
		overflow: hidden;
	}

	&__title {
		color: #1347ff;
		font-size: 45px;
		font-weight: 700;
		text-align: center;
		margin: 0 0 10px;
	}

	&__subtitle {
		font-weight: 500;
		font-size: 14px;
		text-transform: uppercase;
		color: #5b5f6d;
		text-align: center;
		margin: 0 0 40px;
	}

	&__form {
	}

	&__inputs {
		margin: 0 0 100px;
	}

	&__item {
		width: 450px;
		position: relative;
		padding: 0 0 20px;
		margin: 0 0 30px;
	}

	&__error {
		display: none;
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 12px;
		color: #e55959;
		padding: 0 0 0 8px;
		&.active {
			display: inline-block;
		}
	}

	&__label {
		font-weight: 500;
		font-size: 15px;
		color: #9396a0;
		margin: 0 0 5px;
		padding: 0 0 0 8px;
	}

	&__buttons {
		@include flex-center;
	}

	&__button {
		background: #1347ff;
		border-radius: 15px;
		width: 220px;
		height: 50px;
		transition: 0.3s all;
		@include inline-flex-center;
		color: #ffffff;
		text-align: center;
		font-weight: 500;
		font-size: 15px;
		&.error {
			background: #beccff;
			pointer-events: none;
		}
	}
	&__content {
		position: relative;
		input {
			width: 100%;
			background: #f7f7fa;
			border: 1px solid #e4e4f4;
			border-radius: 15px;
			font-size: 14px;
			color: #13192d;
			padding: 16px 20px;
			height: 50px;
			&.invalid {
				border: 1px solid #e55959;
			}
			&[type="password"] {
				font-size: 20px;
			}
		}
		.password {
			padding: 16px 40px 16px 20px;
		}
	}

	&__icon {
		position: absolute;

		top: 50%;
		right: 11px;
		transform: translateY(-50%);
		svg {
			path {
				fill: #000000;
			}
		}
		&.view {
			.login {
				&__none-visible {
					display: inline-block;
				}
				&__visible {
					display: none;
				}
			}
		}
	}

	&__view {
		width: 30px;
		i,
		svg {
			font-size: 1px;
		}
	}

	&__none-visible {
		display: none;
		width: 22px;
	}
	&__visible {
		display: inline-block;
		width: 22px;
	}
}
.password {
	padding: 16px 40px 16px 20px;
}
.login-banner {
	height: 100%;
	background: #1443e8;
	width: 524px;
	position: relative;
	&::before {
		content: url("../img/background/banner-triangle.png");
		display: block;
		position: absolute;
		bottom: 0;
		left: 10px;
		width: 50%;
	}
	&__content {
		position: relative;
		z-index: 2;
		font-style: italic;
		@include flex-column-center;
		height: 100%;
		font-weight: 700;
		color: #ffffff;
	}

	&__title {
		font-size: 50px;
		margin: 0 0 5px;
	}

	&__subtitle {
		@include flex-a-center;
		font-size: 20px;
		img {
			margin: 0 5px 0 10px;
			width: 26px;
		}
	}
}

.login-dropdown {
	position: relative;
	&__list {
	}

	&__current {
		width: 100%;
		@include flex-a-center;
		background: #f7f7fa;
		border: 1px solid #e4e4f4;
		border-radius: 15px;
		padding: 16px 20px;
		height: 50px;
		cursor: pointer;
		&.active {
			border-radius: 15px 15px 0 0;
		}
	}

	&__icon {
		flex-shrink: 0;
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 8px 0 0;
		img {
			height: 100%;
			width: 100%;
		}
	}

	&__body {
		flex: 1 1 auto;
		@include flex-a-center;
		overflow: hidden;
	}

	&__title {
		@include text-ellipsis;
		font-size: 14px;
		color: #13192d;
	}

	&__arrow {
		flex-shrink: 0;
		font-size: 16px;
		color: #000000;
	}

	&__content {
		max-height: 159px;
		width: 100%;
		display: none;
		position: absolute;
		z-index: 2;
		background: #ffffff;
		box-shadow: 0px 7px 15px #e6e6e6;
		border-radius: 0 0 15px 15px;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 4px;
			border-radius: 4px;
		}
		&::-webkit-scrollbar-track-piece {
			background-color: #ffffff;
		}
		&::-webkit-scrollbar-thumb {
			background: #dfdfdf;
		}
		&.open {
			display: block;
		}
	}

	&__theme {
		cursor: pointer;
		@include flex-a-center;
		height: 44px;
		padding: 16px 20px;
		&.active,
		&:hover {
			background: #e3ebff;
			box-shadow: 0px 6px 10px rgba(195, 196, 201, 0.25);
		}
	}

	&__label {
		@include text-ellipsis;
		font-size: 14px;
	}
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(208, 212, 225, 0.69);
	transition: all 0.8s ease 0s;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 6;
	&.open {
		opacity: 1;
		visibility: visible;
		.popup__content {
			transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
			opacity: 1;
		}
	}
	&__body {
		min-height: 100%;
		@include flex-center;
		padding: 10px;
	}

	&__content {
		min-width: 845px;
		transition: all 0.8s ease 0s;
		opacity: 0;
		transform: translate(0px, -100%);
		box-shadow: 0px 10px 25px #c7cde1;
		border-radius: 15px;
		background: #ffffff;
		padding: 10px;
	}
}
.popup-bets {
	&__content {
		padding: 50px 50px 24px 50px;
	}
	&__box {
		margin: 0 0 35px;
		&:last-child {
			margin: 0;
		}
	}
	&__item {
		margin: 0 0 10px 0;
		&:last-child {
			margin: 0;
		}
	}

	&__titles {
		display: flex;
		margin: 0 0 10px;
		&_big {
			.popup-bets {
				&__title {
					height: 48px;
				}
			}
		}
		&:last-child {
			margin: 0;
		}
	}

	&__title {
		width: 100%;
		@include flex-center;
		height: 37px;
		background: #1347ff;
		font-weight: 500;
		font-size: 14px;
		color: #ffffff;
		text-align: center;
		text-transform: uppercase;
		border-radius: 5px;
		margin: 0 5px 0 0;
		&:last-child {
			margin: 0;
		}
	}

	&__cells {
		display: flex;
		margin: 0 0 10px;
		&:last-child {
			margin: 0;
		}
	}

	&__cell {
		width: 100%;
		@include flex-center;
		height: 37px;
		background: #f4f4f4;
		font-weight: 500;
		font-size: 13px;
		color: #29223b;
		text-align: center;
		border-radius: 5px;
		margin: 0 5px 0 0;
		span {
			margin: 0 10px 0 0;
			&:last-child {
				margin: 0;
			}
		}
		&_special {
			span {
				&:nth-child(2) {
					font-weight: 500;
					font-size: 12px;
				}
			}
		}

		&:last-child {
			margin: 0;
		}
	}

	&__heading {
		@include flex-a-center;
		height: 37px;
		padding: 10px 30px;
		background: #1347ff;
		color: #ffffff;
		text-transform: uppercase;
		border-radius: 5px;
		margin: 0 0 10px;
		&:last-child {
			margin: 0;
		}
	}

	&__label {
		@include text-ellipsis;
		font-weight: 500;
		font-size: 14px;
		color: #ffffff;
	}

	&__paginations {
		flex-shrink: 0;
		@include flex-a-center;
	}

	&__arrow {
		line-height: 16px;
		cursor: pointer;
		color: #ffffff;
		font-size: 14px;
		&.disabled {
			pointer-events: none;
			color: #92939f;
		}
	}

	&__row {
		@include flex-a-center;
		margin: 0 15px;
	}

	&__pagination {
		line-height: 17px;
		cursor: pointer;
		color: #99b4fa;
		font-weight: 700;
		font-size: 15px;
		margin: 0 10px 0 0;
		&.active {
			pointer-events: none;
			color: #ffffff;
		}
		&:last-child {
			margin: 0;
		}
	}

	&__links {
		@include flex-between;
	}

	&__link {
		color: #1347ff;
		font-weight: 500;
		font-size: 12px;
	}
}

.ui-datepicker {
	background: #ffffff;
	border-radius: 35px;
	box-shadow: 0px 4px 15px #f0f0f0;
}
.ui-datepicker-header {
	min-width: 425px;
	position: relative;
	padding: 37px 20px 0;
	margin: 0 0 30px;
}
.ui-datepicker-title {
	font-weight: 500;
	font-size: 16px;
	color: #000000;
	text-align: center;
}
.ui-datepicker-prev,
.ui-datepicker-next {
	cursor: pointer;
	font-size: 0;
	width: 6px;
	height: 10px;
	top: 41px;
	position: absolute;
}
.ui-datepicker-prev {
	left: 40px;
	display: inline-block;
	background: url("../img/icons/arrow-left.png") 0 0 /6px 10px no-repeat;
}
.ui-datepicker-next {
	right: 40px;
	background: url("../img/icons/arrow-right.png") 0 0 /6px 10px no-repeat;
}
.ui-datepicker-calendar {
	padding: 0 10px 30px;
	width: 100%;
	thead {
		font-weight: 500;
		font-size: 16px;
		color: #ababab;
		th {
			border-bottom: 10px solid transparent;
		}
	}
	tbody {
		td {
			border-top: 10px solid white;
			text-align: center;
		}
	}
}
.ui-state-default {
	@include inline-flex-center;
	height: 41px;
	font-size: 16px;
	color: #000000;
	width: 48px;
}
.ui-state-active {
	background: #1347ff;
	border-radius: 15px;
	color: #ffffff;
}
@media (min-width: 1440px) {
	.header-menu {
		&__item {
			font-size: 17px;
		}
		&__counter {
			font-size: 11px;
		}
	}
	.header-logo {
		width: 300px;
		&__title {
			font-size: 36px;
		}

		&__subtitle {
			font-size: 11px;
		}
	}
	.header-sidebar {
		&__item {
			margin: 0 20px 0 0;
		}

		&__label {
			font-size: 15px;
			margin: 0 10px 0 0;
		}

		&__description {
			font-size: 15px;
		}

		&__link {
			font-size: 15px;
		}
	}
	.menu-sports {
		width: 300px;
		&__item-title {
			font-size: 18px;
		}
		&__subitem-content {
			font-size: 17px;
			&:hover,
			&.active {
				font-size: 18px;
			}
		}
	}
	.content {
		&__label {
			font-size: 15px;
		}
		&__subtitle {
			font-size: 17px;
		}

		&__heading {
			font-size: 17px;
		}
		&__refresh {
			img,
			svg {
				width: 22px;
				height: 22px;
			}
		}
	}
	.paginations {
		&__item {
		}
	}
	.bets-table {
		&__title {
			font-size: 17px;
		}
		&__hidden {
			display: table-cell;
		}
		&__coeficient {
			font-size: 15px;
		}
		&__information {
			font-size: 14px;
		}
	}
	.bets-table-header {
		&__description {
			font-size: 16px;
		}
		&__title {
			font-size: 15px;
		}
	}
	.summary-table {
		&__title {
			font-size: 17px;
		}
		&__item {
			font-size: 15px;
			&_plus {
				font-size: 13px;
			}
		}
		&__input {
			input {
				font-size: 15px;
			}
		}
	}
	.summary-table-header {
		&__item {
			font-size: 11px;
		}
		&__type {
			font-size: 17px;
		}
		&__title {
			font-size: 15px;
		}
		&__box {
			font-size: 14px;
		}
	}
	.summary-table-dropdown {
		&__title {
			font-size: 15px;
		}

		&__label {
			font-size: 15px;
		}
	}
	.table-button {
		font-weight: 900;
		font-size: 16px;
	}
	.export {
		font-size: 16px;
	}
	.login {
		&__title {
			font-size: 50px;
		}
		&__subtitle {
			font-size: 15.5px;
		}
		&__label {
			font-size: 16px;
		}
		&__content {
			input {
				font-size: 14.5px;
			}
		}
		&__button {
			font-size: 16px;
		}
	}
	.login-banner {
		&__title {
			font-size: 55px;
		}
		&__subtitle {
			font-size: 23px;
		}
	}
	.login-dropdown {
		&__title {
			font-size: 14.5px;
		}
		&__label {
			font-size: 14.5px;
		}
	}
	.fields {
		&__button {
			font-size: 15px;
		}
	}
	.field {
		&__label {
			font-size: 15px;
		}

		&__info {
			font-size: 15px;
		}

		&__input {
			input,
			textarea {
				font-size: 15px;
			}
			&_big {
				input,
				textarea {
					font-size: 17px;
					min-height: 132px;
				}
			}
		}
		&__error {
			font-size: 13px;
		}

		&__checkbox-label {
			font-size: 15px;
		}
	}
	.field-dropdown {
		&__title {
			font-size: 15px;
		}
		&__label {
			font-size: 15px;
		}
	}

	.popup-bets {
		&__title {
			font-size: 15px;
		}

		&__cell {
			font-size: 14px;
			&_special {
				span {
					&:nth-child(2) {
						font-size: 15px;
					}
				}
			}
		}

		&__label {
			font-size: 15px;
		}
		&__pagination {
			font-size: 16px;
		}

		&__link {
			font-size: 13px;
		}
	}
}
@media (min-width: 1700px) {
	.header-logo {
		&__title {
			font-size: 38px;
		}

		&__subtitle {
			font-size: 12px;
		}
	}
	.header-menu {
		&__item {
			font-size: 18px;
		}
		&__counter {
			font-size: 12px;
		}
	}
	.header-sidebar {
		&__item {
			margin: 0 25px 0 0;
		}

		&__label {
			font-size: 16.5px;
			margin: 0 15px 0 0;
		}

		&__description {
			font-size: 16.5px;
		}

		&__link {
			font-size: 16.5px;
		}
	}
	.menu-sports {
		&__item-title {
			font-size: 19px;
		}
		&__subitem-content {
			font-size: 18px;
			&:hover,
			&.active {
				font-size: 19px;
			}
		}
	}
	.content {
		&__label {
			font-size: 16px;
		}
		&__subtitle {
			font-size: 18px;
		}
		&__heading {
			font-size: 18px;
		}
		&__refresh {
			img,
			svg {
				width: 24px;
				height: 24px;
			}
		}
	}
	.bets-table {
		&__title {
			font-size: 18px;
		}
	}
	.bets-table-header {
		&__description {
			font-size: 17px;
		}
	}
	.summary-table {
		&__title {
			font-size: 18px;
		}
		&__item {
			font-size: 16px;
		}
	}
	.summary-table-header {
		&__type {
			font-size: 18px;
		}
		&__title {
			font-size: 16px;
		}
	}
	.summary-table-dropdown {
		&__title {
			font-size: 16px;
		}

		&__label {
			font-size: 16px;
		}
	}
	.table-button {
		font-size: 18px;
	}
	.export {
		font-size: 18px;
	}
	.field {
		&__label {
			font-size: 16px;
		}

		&__info {
			font-size: 16px;
		}

		&__error {
			font-size: 14px;
		}
	}
	.popup-bets {
		&__title {
			font-size: 16px;
		}

		&__cell {
			font-size: 15px;
			&_special {
				span {
					&:nth-child(2) {
						font-size: 16px;
					}
				}
			}
		}

		&__label {
			font-size: 16px;
		}
		&__pagination {
			font-size: 18px;
		}

		&__link {
			font-size: 14px;
		}
	}

	.login {
		&__title {
			font-size: 55px;
		}
		&__subtitle {
			font-size: 17px;
		}
		&__label {
			font-size: 17px;
		}
		&__content {
			input {
				font-size: 15px;
			}
		}
		&__button {
			font-size: 17px;
		}
	}
	.login-banner {
		&__title {
			font-size: 60px;
		}
		&__subtitle {
			font-size: 25px;
		}
	}
	.login-dropdown {
		&__title {
			font-size: 15px;
		}
		&__label {
			font-size: 15px;
		}
	}
}
@media (min-width: 1920px) {
	.header-logo {
		&__title {
			font-size: 40px;
		}
	}
	.header-sidebar {
		&__item {
			margin: 0 35px 0 0;
		}

		&__label {
			font-size: 18px;
			margin: 0 10px 0 0;
		}

		&__description {
			font-size: 18px;
		}

		&__link {
			font-size: 18px;
		}
	}

	.menu-sports {
		&__item-title {
			font-size: 22px;
		}
		&__subitem-content {
			font-size: 20px;
			&:hover,
			&.active {
				font-size: 22px;
			}
		}
	}
	.main {
		padding: 0 23px 0 0;
	}
	.content {
		&__label {
			font-size: 18px;
		}
		&__subtitle {
			font-size: 20px;
		}
		&__heading {
			font-size: 20px;
		}
		&__refresh {
			img,
			svg {
				width: 25px;
				height: 25px;
			}
		}
	}
	.bets-table {
		&__title {
			font-size: 20px;
		}
	}
	.bets-table-header {
		&__description {
			font-size: 20px;
		}

		&__box {
			font-size: 13px;
			& > * {
				min-width: 75px;
			}
		}
	}
	.summary-table {
		&__title {
			font-size: 20px;
		}
		&__item {
			font-size: 17px;
		}
	}
	.summary-table-header {
		&__type {
			font-size: 20px;
		}
		&__title {
			font-size: 18px;
		}
	}
	.summary-table-dropdown {
		&__title {
			font-size: 17px;
		}

		&__label {
			font-size: 17px;
		}
	}
	.table-button {
		font-size: 20px;
	}
	.export {
		font-size: 20px;
	}
	.field {
		&__label {
			font-size: 17px;
		}

		&__info {
			font-size: 17px;
		}
	}
	.popup-bets {
		&__title {
			font-size: 17px;
		}

		&__cell {
			font-size: 16px;
			&_special {
				span {
					&:nth-child(2) {
						font-size: 17px;
					}
				}
			}
		}

		&__label {
			font-size: 17px;
		}
		&__pagination {
			font-size: 20px;
		}

		&__link {
			font-size: 15px;
		}
	}
	.login-banner {
		&__title {
			font-size: 65px;
		}
	}
}
