@font-face { 
	font-family: 'Sofia Pro bold';
	src: url('../fonts/Sofia Pro Bold.eot');
	src: local('☺'), url('../fonts/Sofia Pro Bold.woff') format('woff'), url('../fonts/Sofia Pro Bold.ttf') format('truetype'), url('../fonts/Sofia Pro Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face { 
	font-family: 'Sofia Pro light';
	src: url('../fonts/sofiapro-light.eot');
	src: local('☺'), url('../fonts/sofiapro-light.woff') format('woff'), url('../fonts/sofiapro-light.ttf') format('truetype'), url('../fonts/sofiapro-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Sofia Pro regular';
	src: url('../fonts/Sofia Pro Regular.eot');
	src: local('☺'), url('../fonts/Sofia Pro Regular.woff') format('woff'), url('../fonts/Sofia Pro Regular.ttf') format('truetype'), url('../fonts/Sofia Pro Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}