@import "_nullstyle.scss";
@import "mixins.scss";
@import "slider.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
	background: #ffffff;
	font-family: "Inter", sans-serif;
	&.lock,
	&.locked,
	&.hidden {
		overflow: hidden;
	}
	&.hidden {
		.header {
			&__link {
				pointer-events: none;
			}
		}
	}
}
a {
	color: #37404d;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	color: #37404d;
}
.content {
	flex: 1 1 auto;
	height: 100%;
	position: relative;
}
.loader {
	padding: 0 16px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	margin: 0;
	transition: 0.3s all;
	z-index: 10;
	background: #ffffff;
	&.hidden {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}
	&__string {
		position: relative;
		height: 0px;
		width: 1px;
		border-bottom: 8px solid #3c7ce6;
		border-radius: 16px;
		-webkit-animation: increase 3s;
		-moz-animation: increase 3s;
		-o-animation: increase 3s;
		animation: increase 3s;
		animation-fill-mode: forwards;
		@keyframes increase {
			100% {
				width: 100%;
			}
		}
	}
}
.introduction-page {
	background: #f5f5f5;
}

.top {
	@include inline-flex-center;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	width: 60px;
	height: 60px;
	right: 20px;
	bottom: 20px;
	transition: 0.2s ease;
	background: #ffffff;
	box-shadow: 2px 2px 10px rgba(115, 118, 128, 0.11);
	border-radius: 32px;
	z-index: 20;
	& > * {
		transform: rotate(270deg);
	}
	&.active {
		overflow: visible;
		visibility: visible;
		opacity: 1;
		pointer-events: all;
	}
}
.title {
	font-weight: 600;
	font-size: 24px;
	margin: 0 0 16px;
}
.label {
	span {
		opacity: 0;
	}
	&.active {
		transform: scale(0.94);
		animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
		span {
			opacity: 0;
			filter: blur(4px);
		}
		span:nth-child(1) {
			animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(2) {
			animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(3) {
			animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(4) {
			animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(5) {
			animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(6) {
			animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(7) {
			animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(8) {
			animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(9) {
			animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(10) {
			animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(11) {
			animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(12) {
			animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(13) {
			animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(14) {
			animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(15) {
			animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(16) {
			animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(17) {
			animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}

		span:nth-child(18) {
			animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
		}
	}
	@keyframes scale {
		100% {
			transform: scale(1);
		}
	}
	@keyframes fade-in {
		100% {
			opacity: 1;
			filter: blur(0);
		}
	}
	&_alt {
		span {
			opacity: 0;
		}
		&.active {
			transform: scale(0.94);
			animation: scale 3s forwards 4s cubic-bezier(0.5, 1, 0.89, 1);

			span {
				opacity: 0;
				filter: blur(4px);
			}
			span:nth-child(1) {
				animation: fade-in 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(2) {
				animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(3) {
				animation: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(4) {
				animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(5) {
				animation: fade-in 0.8s 3.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(6) {
				animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(7) {
				animation: fade-in 0.8s 3.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(8) {
				animation: fade-in 0.8s 3.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(9) {
				animation: fade-in 0.8s 3.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(10) {
				animation: fade-in 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(11) {
				animation: fade-in 0.8s 4.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(12) {
				animation: fade-in 0.8s 4.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(13) {
				animation: fade-in 0.8s 4.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(14) {
				animation: fade-in 0.8s 4.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(15) {
				animation: fade-in 0.8s 4.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(16) {
				animation: fade-in 0.8s 4.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(17) {
				animation: fade-in 0.8s 4.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}

			span:nth-child(18) {
				animation: fade-in 0.8s 4.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
			}
		}
		@keyframes scale {
			100% {
				transform: scale(1);
			}
		}
		@keyframes fade-in {
			100% {
				opacity: 1;
				filter: blur(0);
			}
		}
	}
}
.button {
	cursor: pointer;
	width: 100%;
	@include inline-flex-center;
	text-align: center;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	border-radius: 12px;
	padding: 16px 10px;
	transition: 0.3s ease-in-out;

	&:hover {
		background: #ffffff;
		color: #37404d;
	}
	&.active {
		background: #ffffff;
		color: #37404d;
	}
}
.custom-select {
	cursor: pointer;
	position: relative;
}

.custom-select select {
	display: none;
}

.select-selected {
	font-size: 16px;
	line-height: 26px;
	padding: 8px 38px 8px 16px;
	border: 1px solid #c5d0e3;
	border-radius: 8px;
}

.select-items div {
	color: #1d2229;
	padding: 8px 16px;
	cursor: pointer;
}
.select-items {
	position: absolute;
	background: #ffffff;
	max-height: 300px;
	font-size: 16px;
	line-height: 26px;
	overflow-y: auto;
	border: 1px solid #c5d0e3;
	border-radius: 8px;
	top: calc(100% + 8px);
	left: 0;
	right: 0;
	z-index: 99;
	&::-webkit-scrollbar {
		width: 4px;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background: #495466;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #495466;
	}
}
.select-hide {
	display: none;
}

.select-items div:hover,
.select-items .same-as-selected {
	color: #3c7ce6;
}

.reveal {
	position: relative;
	transform: translateY(100px);
	opacity: 0;
	transition: 0.8s all ease;
	&_alt {
		animation: sun 2s forwards 3s cubic-bezier(0.5, 1, 0.89, 1);
		@keyframes sun {
			from {
				transform: translateY(100px);
			}
			to {
				transform: translateY(0);
			}
		}
	}
	&-2 {
		position: relative;
		transform: translateY(150px);
		opacity: 0;
		transition: 0.8s all ease;
		&.active {
			transform: translateY(0);
			opacity: 1;
		}
	}
	&-3 {
		position: relative;
		transform: translateY(200px);
		opacity: 0;
		transition: 0.8s all ease;
		&.active {
			transform: translateY(0);
			opacity: 1;
		}
	}
	&-4 {
		position: relative;
		transform: translateY(250px);
		opacity: 0;
		transition: 0.8s all ease;
		&.active {
			transform: translateY(0);
			opacity: 1;
		}
	}
	&.active {
		transform: translateY(0);
		opacity: 1;
	}
}

.float {
	-webkit-transform: translatey(0px);
	transform: translatey(0px);
	-webkit-animation: float 3s ease-in-out alternate infinite;
	animation: float 3s ease-in-out alternate infinite;
}
.float1 {
	-webkit-transform: translatey(0px);
	transform: translatey(0px);
	-webkit-animation: float 2s ease-in-out alternate infinite;
	animation: float 2s ease-in-out alternate infinite;
}
.float2 {
	-webkit-transform: translatey(0px);
	transform: translatey(0px);
	-webkit-animation: float 4s ease-in-out alternate infinite;
	animation: float 4s ease-in-out alternate infinite;
}
.float3 {
	-webkit-transform: translatex(0px);
	transform: translatex(0px);
	-webkit-animation: float-alt 2s ease-in-out alternate infinite;
	animation: float-alt 2s ease-in-out alternate infinite;
}
@-webkit-keyframes float {
	0% {
		-webkit-transform: translatey(0px);
		transform: translatey(0px);
	}
	50% {
		-webkit-transform: translatey(-10px);
		transform: translatey(-10px);
	}
	100% {
		-webkit-transform: translatey(0px);
		transform: translatey(0px);
	}
}

@keyframes float {
	0% {
		-webkit-transform: translatey(0px);
		transform: translatey(0px);
	}
	50% {
		-webkit-transform: translatey(-10px);
		transform: translatey(-10px);
	}
	100% {
		-webkit-transform: translatey(0px);
		transform: translatey(0px);
	}
}
@-webkit-keyframes float {
	0% {
		-webkit-transform: translatex(0px);
		transform: translatex(0px);
	}
	50% {
		-webkit-transform: translatex(-10px);
		transform: translatex(-10px);
	}
	100% {
		-webkit-transform: translatex(0px);
		transform: translatex(0px);
	}
}

@keyframes float-alt {
	0% {
		-webkit-transform: translatex(0px);
		transform: translatex(0px);
	}
	50% {
		-webkit-transform: translatey(-10px);
		transform: translatex(-10px);
	}
	100% {
		-webkit-transform: translatex(0px);
		transform: translatex(0px);
	}
}
.section {
	margin: 0 0 24px;
}
.hamburger {
	padding: 5px 5px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	z-index: 11;
	transition: all 0.5s;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: ease;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;

	&.active {
		.hamburger-inner,
		.hamburger-inner::before,
		.hamburger-inner::after {
			background-color: #000000;
		}
	}
	&-box {
		width: 20px;
		height: 20px;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	&-inner {
		display: block;
		top: 50%;
		margin-top: -2px;
		width: 14px;
		height: 2px;
		background-color: #000000;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
		&:before,
		&:after {
			content: "";
			display: block;
			width: 14px;
			height: 2px;
			background-color: #000000;
			border-radius: 4px;
			position: absolute;
			transition-property: transform;
			transition-duration: 0.15s;
			transition-timing-function: ease;
		}
		&:before {
			top: -5px;
		}
		&:after {
			bottom: -5px;
		}
	}
	&--spin {
		&.active {
			& .hamburger-inner {
				transform: rotate(225deg);
				transition-delay: 0.12s;
				transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

				&:before {
					top: 0;
					opacity: 0;
					transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
				}
				&:after {
					bottom: 0;
					transform: rotate(-90deg);
					transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
				}
			}
		}
		& .hamburger-inner {
			transition-duration: 0.22s;
			transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

			&:before {
				transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
			}
			&:after {
				transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
			}
		}
	}
}
.header {
	flex-shrink: 0;
	padding: 16px 16px 14px;
	position: relative;
	z-index: 15;
	&__container {
		@include flex-a-center;
	}

	&__logo {
		flex-shrink: 0;
		display: flex;
		order: 2;
		max-width: 120px;
		svg {
			max-width: 100%;
		}
	}

	&__nav {
		display: none;
		flex-shrink: 0;
		order: 1;
		margin: 0 11px 0 0;
	}
	&__box {
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.54);
		position: fixed;
		top: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		transition: ease 0.3s;
		z-index: 10;
		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
	&__menu {
		position: fixed;
		background-color: #ffffff;
		left: -100%;
		width: auto;
		height: 100%;
		transition: all 0.5s;
		overflow-y: auto;
		padding: 60px 16px 20px;
		li {
			margin: 0 0 15px;
			a {
				font-size: 16px;
				color: #37404d;
			}
		}
		&.active {
			left: 0;
		}
	}
	&__arrow {
		position: absolute;
		right: 0;
		pointer-events: none;
		top: 50%;
		transform: translateY(-50%);
		transition: 0.3s all;
		max-width: 14px;
		svg,
		img {
			max-width: 100%;
		}
	}
	&__dropdown {
		flex-shrink: 0;
		order: 3;
		position: relative;
		user-select: none;
		display: inline-flex;
		margin: 0 0 0 auto;
		padding: 0 0 0 5px;

		&.active {
			.header__arrow {
				transform: translateY(-50%) rotatex(180deg);
			}
			.header__list {
				display: block;
			}
		}
	}
	&__square {
		position: absolute;
		z-index: 2;
		right: 0;
		top: 100%;
		padding: 16px 0 0;
	}
	&__list {
		display: none;
		padding: 24px;
		color: #64748c;
		background: #ffffff;
		box-shadow: 2px 2px 10px rgba(115, 118, 128, 0.11);
		border-radius: 8px;
		width: auto;
		& > li {
			cursor: pointer;
			padding: 5px;
			transition: 0.3s all;

			&.active {
				cursor: default;
				pointer-events: none;
				color: #3c7ce6;
			}
			&:hover {
				color: #3c7ce6;
			}
			a {
				color: #64748c;
			}
		}
		&_default {
			color: #64748c;
			padding: 0 30px 0 0;
			position: relative;
			cursor: pointer;
			transition: all 0.3s ease;
			.header {
				&__flag {
					margin: 0;
				}
				&__option-text {
					color: #64748c;
					display: none;
				}
			}
		}
	}
	&__flag {
		width: 24px;
		height: 20px;
		margin: 0 8px 0 0;
		&:last-child {
			margin: 0;
		}
		img {
			max-width: 100%;
		}
	}
	&__option {
		@include flex-a-center;
	}
	&__option-text {
		font-weight: 600;
		font-size: 16px;
		line-height: 26px;
	}
	&__link {
		position: relative;
		-webkit-transition: all 0.4s;
		-o-transition: all 0.4s;
		transition: all 0.4s;
		font-weight: 400;
		&::after {
			content: "";
			position: absolute;
			top: 120%;
			left: 0%;
			width: 0;
			height: 1px;
			background-color: #2e60b3;
			-webkit-transition: all 0.4s;
			-o-transition: all 0.4s;
			transition: all 0.4s;
			border-radius: 10px;
		}
		&:hover {
			color: #2e60b3;
			&:after {
				width: 100%;
				left: 0;
			}
		}
	}
}
.main {
	@include flex-column;
	flex: 1 1 auto;
	padding: 0 16px;
}
.selections {
	margin: 0 0 24px;
}
.selection {
	width: 100%;
	display: flex;
	flex-direction: column;
	background: url("../img/selection-small.jpg") 100% / cover no-repeat;
	border-radius: 24px;
	overflow: hidden;
	padding: 32px;
	transform: scale(0.94);
	animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
	min-height: 472px;
	color: #ffffff;
	margin: 0 0 16px;
	&:last-child {
		margin: 0;
	}
	&__content {
		@include flex-column;
		flex: 1 1 auto;
	}
	&__box {
		display: none;
	}
	&__title {
		display: inline-flex;
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		position: relative;
		margin: 0 0 24px;
		span {
			display: inline-block;
			&:first-child {
				margin: 0 6px 0 0;
			}
		}
	}
	&__label {
		position: relative;
	}
	&__underline {
		display: flex;
		position: absolute;
		width: calc(100% + 15px);
		left: -2px;
		bottom: -13px;
		img {
			max-width: 100%;
		}
	}

	&__text {
		flex: 1 1 auto;
		margin: 0 0 15px;
		p {
			font-size: 14px;
			line-height: 22px;
			margin: 0 0 15px;
			&:last-child {
				margin: 0;
			}
		}
	}

	&__button {
		background: #ffffff;
		color: #37404d;
		&:hover {
			background: rgba(255, 255, 255, 0.2);
			color: #ffffff;
		}
		&:active {
			background: #f7f9fc;
			color: #37404d;
		}
	}

	&__box {
		flex-shrink: 0;
	}

	&__map {
		margin: auto 0 0;
		@include flex-center;
		background: url("../img/ukraine-grey.png") 100%/100% no-repeat;
		width: 282px;
		height: 192px;
	}

	&__graphics {
		position: relative;
		display: flex;
		height: 182px;
		width: 266px;
		background: url("../img/ukraine.png") 100%/100% no-repeat;
	}
	&__design {
		position: absolute;
		@include flex-column;
		align-items: center;
		&_1 {
			left: 45px;
			top: -92px;
		}
		&_2 {
			left: 79px;
			top: -69px;
		}
		&_3 {
			left: 114px;
			top: -16px;
		}
		&_4 {
			right: 90px;
			top: -96px;
		}
		&_5 {
			right: 55px;
			top: -40px;
		}
		&_6 {
			right: 21px;
			top: -71px;
		}
	}
	&__home {
		@include inline-flex-center;
		padding: 5px 4px;
		background: #5cbf5a;
		box-shadow: 0px 0px 8px rgba(3, 100, 1, 0.3);
		border-radius: 8px;
		margin: 0 0 9px;
	}

	&__strip {
	}

	&__ellipse {
		margin: -12px 0 0;
	}

	&__phone {
		max-width: 167px;
		display: flex;
		align-items: flex-end;
		filter: drop-shadow(5.39934px 13.4984px 26.9967px rgba(0, 0, 0, 0.15));
		img {
			max-width: 100%;
		}
	}
}
.introduction-wrapper {
	padding: 10px 0 0;
	margin: 0 0 4px;
}
.introduction {
	overflow: hidden;
	background: url("../img/intro-bg.png") center/cover #3c7ce6 no-repeat;
	background-blend-mode: multiply;
	border-radius: 24px;
	padding: 24px;
	color: #ffffff;

	&_special {
		display: flex;
		flex-direction: column;
		min-height: 600px;
		background: url("../img/people-bg.png") center/ cover no-repeat,
			linear-gradient(0deg, rgba(60, 124, 230, 0.9) 35.6%, rgba(46, 96, 179, 0.315) 100%),
			url("../img/people-small.jpg") 100% / cover no-repeat, #3c7ce6;
		background-blend-mode: multiply, normal, normal, normal;
		.introduction {
			&__content {
				flex: 1 1 auto;
				@include flex-column;
			}
			&__buttons {
				margin: auto 0 0;
			}
		}
	}
	&__box {
		display: none;
		flex-shrink: 0;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		margin: 0 0 -55px;
	}
	&__title {
		font-size: 32px;
		line-height: 100%;
		font-weight: 600;
		margin: 0 0 24px;
	}

	&__description {
		font-size: 14px;
		line-height: 22px;
		margin: 0 0 24px;
		p {
			line-height: 22px;
			margin: 0 0 6px;
			&:last-child {
				margin: 0;
			}
		}
	}
	&__smartphones {
		display: flex;
		align-items: flex-end;
	}
	&__smartphone {
		&:first-child {
			display: none;
		}
		img {
			max-width: 100%;
		}
	}
	&__phones {
		display: flex;
		justify-content: center;
		margin: 0 0 36px;
	}

	&__phone {
		filter: drop-shadow(5.39934px 13.4984px 26.9967px rgba(0, 0, 0, 0.15));
		margin: 0 12px 0 0;
		max-width: 140px;
		&:last-child {
			margin: 0;
		}
		img {
			max-width: 100%;
		}
	}
	&__buttons {
		display: flex;
		flex-direction: column;
	}
	&__button {
		cursor: pointer;
		width: 100%;
		@include inline-flex-center;
		text-align: center;
		border: 1px solid #ffffff;
		font-size: 16px;
		font-weight: 600;
		border-radius: 12px;
		padding: 16px 10px;
		transition: 0.3s ease-in-out;
		background: #ffffff;
		color: #37404d;
		&:hover {
			background: rgba(255, 255, 255, 0.2);
			color: #ffffff;
		}
		&:active {
			background: #f7f9fc;
			color: #37404d;
		}
		&_special {
			background: transparent;
			color: #ffffff;
			&:hover {
				background: rgba(255, 255, 255, 0.2);
				border-color: transparent;
				color: #ffffff;
			}
			&:active {
				background: #f7f9fc;
				color: #37404d;
			}
		}
		margin: 0 0 16px;
		&_anchor {
			display: none;
		}
		&:last-child {
			margin: 0;
		}
	}
}

.description {
	padding: 20px 0 0;
	color: #37404d;
	margin: 0 0 4px;
	&__title {
		font-weight: 600;
		font-size: 24px;
		margin: 0 0 16px;
	}
	&__container {
		display: flex;
		justify-content: center;
	}
	&__content {
		background: #ebf2ff;
		border-radius: 16px;
		padding: 24px;
		position: relative;
		z-index: 2;
		ul {
			li {
				list-style-type: disc;
				line-height: 22px;
				&::marker {
					color: #3c7ce6;
				}
			}
		}
	}
	&__box {
		display: none;
		flex: 1 1 auto;
	}
	&__bubbles {
		width: 282px;
		height: 327px;
		position: relative;
	}
	&__bubble {
		filter: drop-shadow(4.57224px 4.57224px 13.7167px rgba(1, 46, 119, 0.07));
		position: absolute;
		&:first-child {
			z-index: 10;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			width: 100%;
		}
		&:nth-child(2) {
			z-index: 11;
			left: 50%;
			top: 52px;
			transform: translateX(-50%);
			width: 100%;
		}
		&:nth-child(3) {
			z-index: 8;
			right: 0px;
			top: 135px;
			max-width: 185px;
		}
		&:nth-child(4) {
			z-index: 7;
			right: 0px;
			bottom: 49px;
			width: 100%;
		}
		&:nth-child(5) {
			z-index: 9;
			left: calc(50% - 2px);
			bottom: 0px;
			transform: translateX(-50%);
			width: 100%;
		}
		img {
			max-width: 100%;
		}
	}
	&__messages {
		@include flex-center;
		height: 100%;
		width: 100%;
		position: relative;
		padding: 67px 25px;
		background: url("../img/messages-bg.png") #ebf2ff center/cover no-repeat;
		border-radius: 24px;
		overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			display: inline-block;
			width: 100%;
			height: 100%;
			left: 332px;
			right: -332px;
			top: 0px;
			z-index: 2;
			background: linear-gradient(124.68deg, #ebf2ff 20.39%, rgba(235, 242, 255, 0) 56.66%);
			transform: matrix(-1, 0, 0, 1, 0, 0);
		}
		&_special {
			padding: 67px 2px;
			.description {
				&__message {
					display: flex;
				}
			}
		}
	}
	&__message {
		display: none;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		img {
			max-height: 100%;
			max-width: 100%;
		}
		&_small {
			max-width: 282px;
			display: flex;
		}
	}

	&__label {
		font-weight: 600;
		font-size: 20px;
		margin: 0 0 24px;
	}

	&__text {
		font-size: 14px;

		p {
			line-height: 22px;
			margin: 0 0 24px;
			&:last-child {
				margin: 0;
			}
		}
	}
}
.cards {
	padding: 20px 0 0;
	margin: 0 -16px 0;
	& .slick-track {
		margin: 0 0 24px 0;
	}
	& .slick-list {
		padding: 0 0 0 16px;
	}
	&__title {
		color: #37404d;
		font-weight: 600;
		font-size: 24px;
		margin: 0 0 16px;
		padding: 0 0 0 16px;
	}

	&__box {
		display: flex;
	}
}
.card {
	overflow: hidden;
	background: #ffffff;
	box-shadow: 2px 2px 10px rgba(115, 118, 128, 0.11);
	border-radius: 12px;
	height: inherit;
	width: 320px;
	min-height: 472px;
	margin: 0 16px 0 0;
	@include flex-column;
	&__image {
		flex-shrink: 0;
		width: 100%;
		img {
			max-width: 100%;
		}
	}

	&__content {
		@include flex-column;
		flex: 1 1 auto;
		padding: 24px;
	}

	&__title {
		flex-shrink: 0;
		font-weight: 600;
		font-size: 18px;
		margin: 0 0 12px;
	}

	&__text {
		flex: 1 1 auto;
		font-size: 14px;
		line-height: 22px;
	}

	&__number {
		color: #3c7ce6;
		text-align: right;
		font-weight: 700;
		font-size: 18px;
		margin: auto 0 0;
	}
}
.team {
	padding: 20px 0 0;
	margin: 0 -16px 0;
	& .slick-track {
		margin: 0 0 4px 0;
	}
	& .slick-list {
		padding: 0 0 0 16px;
	}
	&__title {
		padding: 0 0 0 16px;
	}

	&__slider {
		display: flex;
	}

	&__item {
		min-width: 0;
		width: 343px;
		height: inherit;
		background: #ffffff;
		box-shadow: 2px 2px 10px rgba(115, 118, 128, 0.11);
		border-radius: 16px;
		overflow: hidden;
		margin: 0 16px 0 0;
	}

	&__image {
		max-height: 337px;
		overflow: hidden;
		img,
		svg {
			max-width: 100%;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 24px;
	}

	&__text {
		font-size: 14px;
		line-height: 22px;
		color: #495466;
	}

	&__name {
		margin: 0 0 10px;
	}

	&__position {
		font-weight: 600;
	}

	&__country {
		margin: 0 0 -8px;
	}
}
.partners {
	padding: 20px 0 0;
	margin: 0 0 32px;
	&__title {
	}

	&__content {
	}

	&__item {
		@include inline-flex-center;
		padding: 40px 10px;
		width: 100%;
		background: #ffffff;
		box-shadow: 2px 2px 10px rgba(115, 118, 128, 0.11);
		border-radius: 16px;
		margin: 0 0 16px;
		&:last-child {
			margin: 0;
		}
		img,
		svg {
			&:last-child {
				display: none;
			}
		}
		&:hover {
			background: #3c7ce6;
			img,
			svg {
				&:first-child {
					display: none;
				}
				&:last-child {
					display: initial;
				}
			}
		}
		img {
			width: 220px;
		}
	}
}

.help {
	background: #ebf2ff;
	border-radius: 16px;
	overflow: hidden;
	padding: 4px 24px 32px;
	color: #37404d;
	margin: 0 0 4px;
	&_special {
		.help {
			&__label {
			}
		}
	}
	&__wrapper {
		padding: 20px 0 0;
	}
	&__container {
		display: none;
		&.active {
			display: block;
		}
	}
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		margin: 0 0 16px;
	}

	&__filters {
		padding: 0 0 0 24px;
		display: flex;
		overflow-x: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;
		margin: 0 -24px 20px;

		&::-webkit-scrollbar {
			display: none;
		}
	}
	&__filter {
		margin: 0 12px 0 0;
		&:last-child {
			margin: 0 24px 0 0;
		}
	}

	&__button {
		cursor: pointer;
		border-radius: 24px;
		font-weight: 600;
		font-size: 14px;
		padding: 4px 24px;
		white-space: nowrap;
		transition: 0.2s ease-in-out;
		background: #ffffff;
		&.active {
			pointer-events: initial;
			background: #2e60b3;
			color: #ffffff;
			&:hover {
				background: #2e60b3;
			}
		}
		&:hover {
			color: #ffffff;
			background: #80b0ff;
		}
	}

	&__map {
		position: relative;
		border-radius: 8px;
		overflow: hidden;
		margin: 0 0 16px;
		img {
			height: auto;
			max-width: 100%;
		}
	}

	&__content {
		padding: 16px;
		background: #ffffff;
		font-size: 14px;
		min-height: 340px;
		border-radius: 8px;
		overflow: hidden;
		p {
			line-height: 22px;
			margin: 0 0 8px;
			&:last-child {
				margin: 0;
			}
		}

		li {
			line-height: 22px;
		}
	}

	&__label {
		font-weight: 600;
		font-size: 18px;
		margin: 0 0 12px;
	}

	&__text {
	}
	&__info {
		display: none;
		width: 40px;
		height: 40px;
		img {
			max-width: 40px;
			height: 40px;
		}
	}
}
.banner {
	position: relative;
	background: url("../img/bg-2.webp") bottom right no-repeat,
		linear-gradient(0deg, rgba(60, 124, 230, 0.9) 35.6%, rgba(46, 96, 179, 0.315) 100%),
		url("../img/bg-1.jpg") 100% / cover no-repeat;
	background-blend-mode: multiply, normal, normal, normal;
	border-radius: 24px;
	display: flex;
	overflow: hidden;
	color: #ffffff;
	min-height: 572px;
	padding: 24px;
	margin: 0 0 32px;
	&__content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	&__title {
		flex-shrink: 0;
		font-weight: 600;
		font-size: 32px;
		margin: 0 0 24px;
	}

	&__text {
		flex: 1 1 auto;
		font-size: 14px;
		line-height: 22px;
		margin: 0 0 48px;
	}

	&__button {
		flex-shrink: 0;
		margin: auto 0 0;
		&:hover {
			background: rgba(255, 255, 255, 0.2);
			border-color: transparent;
			color: #ffffff;
		}
		&.open {
			background: #f7f9fc;
			color: #37404d;
		}
	}
	&__icons {
		display: none;
	}
	&__icon {
		@include inline-flex-center;
		width: 56px;
		height: 56px;
		padding: 16px;
		border: 1px solid #ffffff;
		transition: 0.3s ease-in-out;
		border-radius: 12px;
		margin: 0 16px 0 0;
		svg,
		path {
			transition: 0.3s ease-in-out;
		}
		&:hover {
			background: #ffffff;
			svg,
			path {
				fill: #37404d;
			}
		}
		&:last-child {
			margin: 0;
		}
	}
}

.form {
	display: none;
	flex-shrink: 0;
	width: 100%;
	max-width: 380px;
	&__body {
		height: 100%;
	}
	&__form {
		&.hidden {
			display: none;
		}
	}
	&__success {
		display: none;
		align-items: center;
		font-weight: 600;
		font-size: 14px;
		line-height: 22px;
		color: #098507;
		svg {
			width: 32px;
			height: 32px;
			margin: 0 10px 0 0;
		}
		&.active {
			display: flex;
		}
	}
	&__content {
		height: 100%;
		background: #ffffff;
		border: 1px solid #c5d0e3;
		border-radius: 16px;
	}
	&__content {
		padding: 40px;
	}
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		color: #37404d;
		margin: 0 0 24px;
	}

	&__inputs {
		margin: 0 0 64px 0;
	}

	&__item {
		margin: 0 0 16px 0;
		&:last-child {
			margin: 0;
		}
	}
	&__label {
		color: #64748c;

		font-size: 14px;
		line-height: 22px;
		margin: 0 0 4px;
	}
	&__input {
		input {
			border: 1px solid #c5d0e3;
			border-radius: 8px;
			padding: 8px 16px;
			background: #ffffff;
			font-family: "Inter", sans-serif;
			font-size: 16px;
			line-height: 26px;
			appearance: none;
			-webkit-appearance: none;
			width: 100%;
			&::placeholder {
				color: #64748c;
			}
			&:focus {
				&::placeholder {
					color: transparent;
				}
			}
		}
	}
	&__select {
		position: relative;
		background: #ffffff;
		color: #000;
		width: 100%;
		&.active {
			.select-selected {
				border: 1px solid #2e60b3;
			}
			.form {
				&__arrow {
					transform: translatey(-50%) rotate(180deg);
				}
			}
		}
	}
	&__arrow {
		position: absolute;
		right: 21px;
		top: 50%;
		transform: translatey(-50%);
		pointer-events: none;
	}
	&__button {
		background: #2e60b3;
		color: #ffffff;
		&:hover {
			color: #ffffff;
			background: #3c7ce5;
		}
		&:focus {
			background: #214580;
		}
	}
	&__pass {
		width: 55px;
		margin: 0 auto 18px;
		svg,
		img {
			max-width: 100%;
		}
	}
	&__text {
		font-weight: 600;
		font-size: 20px;
		line-height: 32px;
		text-align: center;
		color: #098507;
	}
}
.footer {
	padding: 0 16px 40px;
	flex-shrink: 0;
	&__description {
		margin: 0 0 16px;
		a {
			display: block;
		}
	}
	&__box {
		margin: 0 0 24px;
		&:last-child {
			margin: 0;
		}
	}
	&__documents {
		font-weight: 600;
		color: #495466;
		font-size: 14px;
		text-transform: uppercase;
		div {
			margin: 0 0 10px;
			&:last-child {
				margin: 0;
			}
		}
	}
	&__link {
		font-size: 16px;
		text-decoration: underline;
		margin: 0 0 10px;
		&:last-child {
			margin: 0;
		}
		&_email {
			text-decoration: none;
			display: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__icons {
		display: flex;
		margin: 0 0 20px;
	}

	&__icon {
		@include inline-flex-center;
		width: 19px;
		height: 19px;
		margin: 0 24px 0 0;
		svg {
			max-height: 100%;
		}
		&:last-child {
			margin: 0;
		}
	}

	&__copyright {
		display: flex;
	}
	&__text {
		font-size: 16px;
		&:first-child {
			margin: 0 2px 0 0;
		}
	}
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(29, 34, 41, 0.2);
	transition: all 0.8s ease 0s;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 6;
	&.open {
		opacity: 1;
		visibility: visible;
		.popup__content {
			transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
			opacity: 1;
		}
	}
	&__body {
		min-height: 100%;
		@include flex-center;
		padding: 16px;
	}

	&__content {
		width: 100%;
		max-width: 380px;
		margin: 0 auto;
		transition: all 0.8s ease 0s;
		opacity: 0;
		transform: translate(0px, -100%);
		background: #ffffff;
		border: 1px solid #c5d0e3;
		border-radius: 16px;
	}
	&__content {
		padding: 20px 18px 40px 0px;
	}
	&__box {
		padding: 0 22px 0 40px;
	}
	&__cross {
		cursor: pointer;
		width: 24px;
		height: 24px;
		margin: 0 0 0 auto;
	}
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		color: #37404d;
		margin: 0 0 24px;
	}

	&__inputs {
		margin: 0 0 64px 0;
	}

	&__item {
		margin: 0 0 16px 0;
		&:last-child {
			margin: 0;
		}
	}
	&__label {
		color: #64748c;

		font-size: 14px;
		line-height: 22px;
		margin: 0 0 4px;
	}
	&__input {
		input {
			border: 1px solid #c5d0e3;
			border-radius: 8px;
			padding: 8px 16px;
			font-size: 16px;
			appearance: none;
			font-family: "Inter", sans-serif;
			line-height: 26px;
			-webkit-appearance: none;
			width: 100%;
			&::placeholder {
				color: #64748c;
			}
			&:focus {
				&::placeholder {
					color: transparent;
				}
			}
		}
	}
	&__select {
		position: relative;
		background: #ffffff;
		color: #000;
		width: 100%;
		&.active {
			.select-selected {
				border: 1px solid #2e60b3;
			}
			.popup {
				&__arrow {
					transform: translatey(-50%) rotate(180deg);
				}
			}
		}
	}
	&__arrow {
		position: absolute;
		right: 21px;
		top: 50%;
		transform: translatey(-50%);
		pointer-events: none;
	}
	&__button {
		background: #2e60b3;
		color: #ffffff;
		&.active {
			background: #2e60b3;
			color: #ffffff;
		}
		&:hover {
			color: #ffffff;
			background: #3c7ce5;
		}
		&:focus {
			background: #214580;
		}
	}
	&__pass {
		width: 55px;
		margin: 0 auto 18px;
	}
	&__text {
		font-weight: 600;
		font-size: 20px;
		line-height: 32px;
		text-align: center;
		color: #098507;
	}
}
.popup-map {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background: rgba(29, 34, 41, 0.2);
	z-index: 6;
	&.active {
		display: block;
	}
	&__body {
		min-height: 100%;
		@include flex-center;
		padding: 16px;
	}

	&__content {
		width: 100%;
		max-width: 380px;
		margin: 0 auto;
		background: #ffffff;
		border: 1px solid #c5d0e3;
		border-radius: 16px;
		padding: 20px 18px 40px 0px;
	}

	&__cross {
		cursor: pointer;
		width: 14px;
		height: 14px;
		margin: 0 0 0 auto;
	}

	&__box {
		padding: 0 22px 0 40px;
	}

	&__pass {
		width: 35px;
		margin: 0 auto 5px;
		svg {
			max-width: 100%;
			width: 100%;
		}
	}

	&__text {
		font-weight: 600;
		font-size: 14px;
		text-align: center;
		color: #098507;
	}
}
@include _420 {
	.team {
		&__slider {
			& .slick-track {
				left: 16px;
			}
			& .slick-list {
				padding: 0;
			}
		}
	}
	.cards {
		& .slick-track {
			left: 16px;
		}
		& .slick-list {
			padding: 0;
		}
	}
}
@include _500 {
	.selection {
		background: url("../img/selection.jpg") 100% / cover no-repeat;
	}
	.selection {
		min-height: 372px;
	}
	.cards {
	}
	.card {
		width: 343px;
	}
	.team {
		&__item {
			width: 312px;
		}
	}
	.help {
		&__content {
			min-height: 200px;
		}
	}
	.introduction {
		&_special {
			min-height: 754px;
		}
		padding: 32px;
	}
	.banner {
		padding: 32px;
		min-height: 489px;
	}
	.footer {
		&__documents {
			display: flex;
			div {
				margin: 0 16px 0 0;
			}
		}
		&__description {
			display: flex;
		}
		&__link {
			margin: 0 24px 0 0;
		}
		&__copyright {
			flex-direction: row;
		}
		&__text {
			margin: 0 6px 0 0;
			&:last-child {
				margin: 0;
			}
		}
	}
}
@include _768 {
	.section {
		margin: 0 0 32px;
	}
	.header {
		padding: 38px 24px 24px;
	}

	.slick-arrow {
		pointer-events: all;
		visibility: visible;
		opacity: 1;
	}
	.loader {
		padding: 0 24px;
	}
	.main {
		padding: 0 24px;
	}
	.introduction-wrapper {
		padding: 14px 0 0;
		margin: 0 0 12px;
	}
	.introduction {
		display: flex;
		padding: 48px 48px 0;
		min-height: 572px;
		overflow: hidden;
		border-radius: 32px;
		background: url("../img/intro-bg.png") center/cover no-repeat,
			linear-gradient(90deg, rgba(60, 124, 230, 0.9) 23.75%, rgba(46, 96, 179, 0) 105.04%);

		&_special {
			background: url("../img/people-bg.png") right top/ cover no-repeat,
				linear-gradient(90deg, #3c7ce6 38.93%, rgba(46, 96, 179, 0) 105.04%),
				url("../img/people.jpg") right top / contain no-repeat, #3c7ce6;
			.introduction {
				&__content {
					max-width: 540px;
				}
				&__description {
					max-width: 374px;
				}
				&__buttons {
					flex-direction: row;
				}
				&__button {
					margin: 0 24px 0 0;
				}
			}
		}
		&__content {
			@include flex-column;
			padding: 0 0 48px;
			margin: 0 48px 0 0;
		}
		&__buttons {
			margin: auto 0 0;
		}
		&__button {
			max-width: 287px;
			margin: 0 auto 24px 0;
			&:last-child {
				margin: 0 auto 0 0;
			}
		}
		&__smartphone {
			max-width: 204px;
		}
		&__phones {
			display: none;
		}
		&__box {
			display: flex;
		}
	}
	.selections {
		margin: 0 0 72px;
	}
	.selection {
		min-height: 354px;
		margin: 0 0 24px;
		&__title {
			font-size: 32px;
			line-height: 100%;
			margin: 0 0 32px;
		}
		&__underline {
			bottom: -18px;
			img {
				width: 600px;
				height: 25px;
			}
		}
		&__button {
			max-width: 250px;
			margin: 0 auto 0 0;
		}
	}
	.description {
		margin: 0 0 12px;
		&__label {
			font-size: 18px;
			line-height: 22px;
		}
		&__content {
			padding: 32px 32px 48px;
			flex: 0 0 360px;
			margin: 0 24px 0 0;
		}
		&__box {
			display: block;
		}
	}
	.cards {
		margin: 0 -24px;
		&__title {
			padding: 0 0 0 24px;
		}
		& .slick-track {
			margin: 0 0 32px;
			left: 24px;
		}
	}
	.card {
	}
	.team {
		margin: 0 -24px;
		&__title {
			padding: 0 0 0 24px;
		}
		& .slick-track {
			margin: 0 0 12px;
			left: 24px;
		}
		&__item {
			width: 312px;
		}
	}
	.partners {
		&__content {
			display: flex;
		}
		&__item {
			padding: 40px 66px;
			margin: 0 16px 0 0;
		}
	}
	.help {
		padding: 12px 32px 32px;
		margin: 0 0 12px;
		border-radius: 24px;
		&__title {
			margin: 0 0 24px;
		}
		&__filters {
			padding: 0 0 0 32px;
			margin: 0 -32px 32px;
		}
		&__content {
			display: flex;
			padding: 24px;
		}
		&__label {
			margin: 0 0 16px;
		}
		&__box {
			flex: 0 1 70%;
		}
		&__text {
			p {
				margin: 0 0 12px;
			}
		}
		&__info {
			margin: auto 0 0 auto;
			display: block;
		}
	}
	.banner {
		min-height: 326px;
		padding: 48px;
		&__text {
			margin: 0 0 16px;
		}
	}
	.footer {
		padding: 0 24px 48px;
		&__box {
			display: flex;
			justify-content: space-between;
		}
		&__description {
		}
		&__link {
		}
		&__icons {
			margin: 0;
		}
		&__icon {
		}
		&__copyright {
		}
	}
}
@include _1024 {
	.section {
		margin: 0 0 48px;
	}
	.title {
		margin: 0 0 24px;
	}
	.header {
		&__logo {
			order: 1;
			margin: 0 48px 0 0;
		}
		&__nav {
			display: block;
			order: 2;
			margin: 0 4px 0 0;
		}
		&__dropdown {
			order: 3;
		}
		&__box {
			position: relative;
			background: none;
			height: auto;
			width: auto;
			visibility: visible;
			opacity: 1;
			z-index: 1;
		}
		&__menu {
			@include flex-a-center;
			padding: 0;
			background: transparent;
			left: 0;
			height: auto;
			overflow-y: visible;
			position: relative;
			li {
				a {
					font-size: 14px;
				}
				margin: 0 48px 0 0;
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	.hamburger {
		display: none;
	}
	.selections {
		display: flex;
	}
	.selection {
		margin: 0 24px 0 0;
		min-height: 426px;
		&__title {
			font-size: 40px;
		}
		&__button {
			max-width: 250px;
			margin: 0 auto 0 0;
		}
	}
	.introduction-wrapper {
		margin: 0 0 28px;
	}
	.introduction {
		padding: 64px 64px 0;

		&_special {
			background: url("../img/people-bg.png") center/ cover no-repeat,
				linear-gradient(90deg, #3c7ce6 55.07%, rgba(46, 96, 179, 0) 108.64%),
				url("../img/people-ibg.jpg") 100% / contain no-repeat, #3c7ce6;
			.introduction {
				&__description {
					padding: 0;
				}
			}
		}
		&__content {
			@include flex-column;
			padding: 0 0 64px;
			margin: 0 2px 0 0;
		}
		&__box {
			margin: 0 0 -27px;
		}
		&__title {
			font-size: 40px;
		}
		&__description {
			padding: 0 46px 0 0;
		}
		&__smartphone {
			margin: 0 18px 0 0;
			&:first-child {
				display: block;
			}
			&:last-child {
				margin: 0;
			}
		}
		&__button {
			&_anchor {
				display: inline-flex;
			}
			&_popup {
				display: none;
			}
		}
	}
	.description {
		margin: 0 0 28px;
		&__title {
			margin: 0 0 24px;
		}
		&__content {
		}
		&__box {
		}
		&__messages {
			padding: 138px 25px;
			&::before {
				background: linear-gradient(88.56deg, #ebf2ff 38.76%, rgba(235, 242, 255, 0) 63.26%);
			}
		}
		&__bubbles {
			width: 560.86px;
			height: 269px;
		}
		&__bubble {
			filter: drop-shadow(4.57224px 4.57224px 13.7167px rgba(1, 46, 119, 0.07));
			position: absolute;
			&:first-child {
				z-index: 10;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
				max-width: 304px;
			}
			&:nth-child(2) {
				z-index: 9;
				left: calc(50% - 110px);
				top: 55px;
				transform: translateX(-50%);
				max-width: 304px;
			}
			&:nth-child(3) {
				z-index: 8;
				right: 41px;
				top: 55px;
				max-width: 200px;
			}
			&:nth-child(4) {
				z-index: 7;
				right: 0px;
				bottom: 43px;
				max-width: 304px;
			}
			&:nth-child(5) {
				z-index: 6;
				left: calc(50% - 2px);
				bottom: 34px;
				transform: translateX(-50%);
				max-width: 330px;
			}
			img {
				max-width: 100%;
			}
		}
		&__message {
			display: flex;
			max-width: 540px;
			&_small {
				display: none;
			}
		}
	}
	.cards {
		& .slick-track {
			margin: 0 0 48px;
			left: 24px;
		}
	}
	.card {
		width: 360px;
	}
	.help {
		padding: 12px 32px 32px;
		margin: 0 0 28px;
		&__container {
			&.active {
				display: flex;
			}
		}
		&__filters {
		}
		&__map {
			flex: 1 1 66%;

			margin: 0 16px 0 0;
		}
		&__content {
			flex-direction: column;
			align-items: start;
			flex: 1 1 33%;
			min-height: auto;
			padding: 24px;
		}
		&__box {
			flex: 1 1 auto;
		}
		&__info {
			margin: 0 0 0 auto;
		}
	}
	.partners {
		margin: 0 0 48px;
	}
	.banner {
		display: flex;
		justify-content: center;
		background: url("../img/bg-2.webp") center/100% no-repeat,
			linear-gradient(90deg, rgba(60, 124, 230, 0.9) 23.75%, rgba(46, 96, 179, 0) 105.04%),
			url("../img/bg-1.jpg") 100% / cover no-repeat;
		&__content {
			margin: 0 48px 0 0;
		}
		&__title {
			max-width: 600px;
			font-size: 40px;
			line-height: 40px;
		}
		&__text {
			max-width: 72%;
		}
		&__button {
			display: none;
		}
		&__icons {
			display: flex;
		}
	}
	.form {
		min-height: 495px;
		margin: 23px 0;
		display: block;
	}
	.footer {
		&__icon {
			&_email {
				display: none;
			}
		}
		&__link {
			&_email {
				display: block;
			}
		}
	}
}
@include _1440 {
	.selections {
		flex: 1 1 auto;
		justify-content: center;
		align-items: center;
	}
	.selection {
		min-height: 526px;
		flex-direction: row;
		&:last-child {
			.selection {
				&__text {
					padding: 0 120px 0 0;
				}
			}
		}
		&__map {
			margin: auto 0 0 -10px;
		}
		&__box {
			display: flex;
			&:last-child {
				margin: 0 0 0 -20px;
			}
		}
	}
	.title {
		font-size: 40px;
		margin: 0 0 32px;
	}
	.header {
		max-width: 1440px;
		padding: 38px 60px 24px;
		&__flag {
			margin: 0 12px 0 0;
		}
		&__list_default {
			.header {
				&__flag {
					margin: 0 12px 0 0;
				}
				&__option-text {
					display: block;
				}
			}
		}
	}
	.loader {
		padding: 0 22px;
	}
	.main {
		padding: 0 60px;
	}
	.introduction-wrapper {
		margin: 0 0 44px;
	}
	.introduction {
		&_special {
			.introduction {
				&__description {
					max-width: 458px;
					padding: 0;
				}
			}
		}
		&__content {
			margin: 0 71px 0 0;
		}
		&__description {
			padding: 0 30px 0 0;
		}
		&__box {
			margin: 0 0 -41px;
		}
		&__smartphone {
			max-width: 268px;
			margin: 0 24px 0 0;
			&:last-child {
				margin: 0;
			}
		}
		&__title {
			font-size: 56px;
			padding: 0 30px 0 0;
			margin: 0 0 40px;
		}
		&__buttons {
			flex-direction: row;
		}
		&__button {
			margin: 0 24px 0 0;
			&:last-child {
				margin: 0;
			}
		}
	}
	.description {
		margin: 0 0 44px;
		&__title {
			font-size: 40px;
			margin: 0 0 32px;
		}
		&__content {
			padding: 40px;
			flex: 0 0 420px;
		}
		&__label {
			font-size: 24px;
			line-height: 28px;
		}
		&__messages {
			&::before {
				background: linear-gradient(88.56deg, #ebf2ff 38.76%, rgba(235, 242, 255, 0) 63.26%);
			}
		}
		&__message {
			max-width: 560px;
		}
	}
	.cards {
		margin: 0 0 64px 0;
		& .slick-track {
			left: 64px;
		}
		&__title {
			font-size: 40px;
			line-height: 40px;
			margin: 0 0 32px;
			padding: 0;
		}
	}
	.card {
		width: 100%;
		&:last-child {
			margin: 0;
		}
	}
	.team {
		margin: 0 0 44px 0;
		& .slick-track {
			left: 0;
		}
		&__title {
			font-size: 40px;
			line-height: 40px;
			margin: 0 0 32px;
			padding: 0;
		}
		&__item {
			margin: 0 24px 0 0;
			&:last-child {
				margin: 0;
			}
		}
	}
	.partners {
		margin: 0 0 88px;
	}
	.help {
		padding: 44px 64px 72px;
		margin: 0 0 44px;
		&_special {
			.help {
				&__label {
					max-width: 100%;
				}
			}
		}
		&__title {
			font-size: 40px;
			line-height: 100%;
		}
		&__filters {
			padding: 0;
			margin: 0 0 32px;
		}
		&__map {
			border-radius: 16px;
			margin: 0 32px 0 0;
		}
		&__content {
			padding: 32px;
			border-radius: 16px;
		}
		&__label {
			margin: 0 0 24px;
		}
	}
	.banner {
		background: url("../img/banner-bg-big.webp") 100% / cover no-repeat,
			linear-gradient(90deg, rgba(60, 124, 230, 0.9) 23.75%, rgba(46, 96, 179, 0) 105.04%),
			url("../img/banner-big.webp") 100% / cover no-repeat;
		&__title {
			font-size: 56px;
			line-height: 100%;
			margin: 0 0 40px;
		}
	}

	.footer {
		padding: 0 60px 48px;
		&__description {
		}
		&__icons {
		}
		&__copyright {
		}
	}
}
@include _1920 {
	.title {
		margin: 0 0 40px;
	}
	.description {
		&__title {
			margin: 0 0 40px;
		}
	}
	.footer {
		padding: 0 60px 48px;
	}
}
