@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red; }

body {
  font-family: 'Roboto', sans-serif; }

.footer {
  background-color: #403c3b;
  padding: 35px 0; }

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__mailing {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 11px 0 0; }

.footer__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 46px;
  flex: 0 1 46px;
  margin: 0 0 30px 0; }

.footer__logo img {
  max-width: 100%; }

.footer__title {
  margin: 0 0 20px 0;
  color: #fefefe;
  padding: 0 20px 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase; }

.footer__form input {
  width: 360px;
  height: 38px;
  padding: 13px;
  color: white;
  background-color: #403c3b;
  border: 1px solid #8c8a89;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; }

.title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 30px 0; }

.footer__catalog {
  margin: 0 75px 0 0; }

.catalog__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.catalog__list {
  margin: 0 20px 0 0; }
  .catalog__list:last-child {
    margin: 0; }

.catalog__list li a {
  color: #998985;
  font-size: 15px;
  font-weight: 400;
  line-height: 34px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .catalog__list li a:hover {
    color: white; }

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.contacts__list {
  margin: 0 0 30px 0; }
  .contacts__list:before {
    position: relative;
    top: 27px;
    right: 36px; }

.contacts__list li {
  color: white; }

.footer__email {
  color: white;
  margin: 0 0 20px 0; }
  .footer__email:before {
    content: url("../../../img/icons/email.webp"); }

.footer__media {
  right: 0px; }

@media (max-width: 1082px) {
  .footer {
    padding: 35px 0 0 0; }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer__row div {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      margin: 0 0 30px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .footer__row div ul {
        margin: 0 0 30px 0; }
  .footer__contacts {
    margin: 0; }
  .footer__links {
    margin: 0; } }

@media (max-width: 1082px) and (max-width: 480px) {
  .footer__title {
    padding: 0 20px; }
  .footer__form {
    padding: 0 20px; }
  .footer__form input {
    width: 100%; } }

.fullscreen {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.fullscreen img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container {
  max-width: 1200px;
  padding: 0 45px;
  margin: 0 auto; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background-color: #f7f7f7; }
  @media (max-width: 600px) {
    .content {
      padding: 30px 0 0 0; } }

.first {
  padding: 20px 0;
  margin: 0 0 45px 0; }
  @media (max-width: 600px) {
    .first {
      display: none; } }

.first__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 25px; }

.first__slider {
  min-width: 0; }

.first__item {
  position: relative;
  overflow: hidden; }

.first__item img {
  max-width: 100%; }

.first__item div {
  position: absolute;
  z-index: 11;
  border-radius: 50%; }

.first__title {
  bottom: 50%;
  left: 45%;
  width: 428px;
  height: 428px;
  background-color: #8d8b8b;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .first__title span {
    color: white;
    text-align: center;
    margin: 58% 0 0 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    padding: 0 60px; }
    .first__title span:last-child {
      margin: 20px 0 0 0;
      font-size: 20px;
      font-weight: 400; }

.first__subtitle {
  top: 50%;
  left: 50%;
  text-align: center;
  width: 134px;
  padding: 20px 0;
  height: 134px;
  background-color: #ff9c00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .first__subtitle span:nth-child(1) {
    color: #35302d;
    font-size: 20px;
    margin: 0 0 5px 0; }
  .first__subtitle span:nth-child(2) {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 5px 0;
    text-transform: uppercase; }
  .first__subtitle span:nth-child(3) {
    color: #35302d;
    font-size: 20px;
    margin: 0 0 0 5px; }

.second {
  margin: 0 0 45px 0; }

.second__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.second__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0; }

.second__lable {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.lable {
  text-align: center;
  color: #7c7373;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase; }

.second__link-section {
  color: #ff9c00;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline; }

.second__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 0; }

.second__item {
  background-color: #fff;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .second__item > span {
    position: absolute;
    display: inline-block;
    top: 4%;
    left: 2%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: white;
    z-index: 25;
    font-size: 20px; }
  .second__item:hover .second__border {
    display: block; }

.second__border {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #fd9b00;
  display: none; }

.second__triangle {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 22;
  border-left: 88px solid red;
  border-bottom: 88px solid transparent; }

.second__part {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  z-index: 10;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.part__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 234px;
  flex: 0 0 234px;
  margin: 0 0 17px 0; }

.part__img img {
  max-width: 100%; }

.part__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 25px;
  text-align: center;
  color: #000000;
  font-size: 15px;
  line-height: 22px;
  margin: 0 0 29px 0; }

.part__price {
  padding: 0 15px;
  margin: 0 0 15px 0;
  text-align: center; }
  .part__price a:first-child {
    color: #7c7373;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: line-through;
    margin: 0 25px 0 0; }
  .part__price a:last-child {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase; }

.part__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  font-size: 15px;
  line-height: 22px;
  padding: 17px 25px;
  background-color: #fd9b00;
  text-align: center;
  margin: 0 15px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border: 1px solid #ff9c00; }
  @media (max-width: 1082px) {
    .part__buy {
      margin: 0 0 0 0; } }
  .part__buy:hover {
    color: black;
    background-color: #fff; }
    .part__buy:hover:before {
      content: url("../../img/icons/garbage_small_black.webp"); }
  .part__buy:before {
    position: relative;
    content: url("../../img/icons/garbage_small_light.webp");
    right: 10px; }

.triangle__second {
  border-left: 88px solid green;
  border-bottom: 88px solid transparent; }

.second__item > span {
  top: 5%;
  left: -1%; }

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden; }

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/*first__slider*/
.first__slider {
  position: relative;
  max-width: 862px; }

.first__slider .slick-arrow {
  margin: -35px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%; }
  @media (max-width: 768px) {
    .first__slider .slick-arrow {
      width: 50px;
      height: 50px; } }
  @media (max-width: 480px) {
    .first__slider .slick-arrow {
      top: 60%;
      width: 30px;
      height: 30px; } }

.first__slider .slick-arrow.slick-prev {
  right: 96%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: #ebebeb url("../../../img/icons/arrow__slider.webp") center/25% no-repeat; }

.first__slider .slick-arrow.slick-next {
  left: 96%;
  background: #ebebeb url("../../../img/icons/arrow__slider.webp") center/25% no-repeat; }

.first__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 7%;
  left: 50%;
  right: 50%; }
  @media (max-width: 768px) {
    .first__slider .slick-dots {
      bottom: 10%; } }

.slick-dots li {
  list-style: none; }

.first__slider .slick-dots li button {
  font-size: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  margin: 0 22px 0 0; }
  @media (max-width: 480px) {
    .first__slider .slick-dots li button {
      display: none; } }
  .first__slider .slick-dots li button:before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    background-color: transparent;
    top: -100%;
    left: -100%;
    text-align: center;
    border-radius: 50%;
    border: 2px solid white;
    display: none; }

.slick-dots li.slick-active button:before {
  display: block; }

.second__slider {
  position: relative; }

.second__slider .slick-arrow {
  margin: -35px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%; }
  @media (max-width: 768px) {
    .second__slider .slick-arrow {
      width: 50px;
      height: 50px; } }

.second__slider .slick-arrow.slick-prev {
  right: 96%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: #ebebeb url("../../../img/icons/arrow__slider.webp") center/25% no-repeat; }
  @media (max-width: 768px) {
    .second__slider .slick-arrow.slick-prev {
      right: 96%; } }

.second__slider .slick-arrow.slick-next {
  left: 96%;
  background: #ebebeb url("../../../img/icons/arrow__slider.webp") center/25% no-repeat; }
  @media (max-width: 768px) {
    .second__slider .slick-arrow.slick-next {
      left: 96%; } }

.mailing {
  background: #00b5ab url("../../img/background/bg_mailing.webp") left center no-repeat;
  padding: 21px 0;
  margin: 0 0 45px 0; }

.mailing__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  @media (max-width: 1082px) {
    .mailing__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.mailing__title {
  color: #fefefe;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }
  @media (max-width: 1082px) {
    .mailing__title {
      margin: 0 0 30px 0; } }
  @media (max-width: 768px) {
    .mailing__title {
      text-align: center;
      line-height: 25px; } }

.mailing__form input::-webkit-input-placeholder {
  color: #999; }

.mailing__form input:focus::-webkit-input-placeholder {
  color: transparent; }

.mailing__form input:-moz-placeholder {
  color: #999; }

.mailing__form input:focus:-moz-placeholder {
  color: transparent; }

.mailing__form input::-moz-placeholder {
  color: #999; }

.mailing__form input:focus::-moz-placeholder {
  color: transparent; }

.mailing__form input:-ms-input-placeholder {
  color: #999; }

.mailing__form input:focus:-ms-input-placeholder {
  color: transparent; }

.mailing__form input {
  color: white;
  padding: 13px;
  font-size: 20px;
  width: 458px;
  height: 38px;
  background-color: #66d3cd;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  @media (max-width: 768px) {
    .mailing__form input {
      width: 358px; } }
  @media (max-width: 480px) {
    .mailing__form input {
      width: 308px; } }
  .mailing__form input::-webkit-input-placeholder {
    color: white; }
    .mailing__form input::-webkit-input-placeholder:focus {
      color: transparent; }
  .mailing__form input::-moz-placeholder {
    color: white; }
    .mailing__form input::-moz-placeholder:focus {
      color: transparent; }
  .mailing__form input:-moz-placeholder {
    color: white; }
    .mailing__form input:-moz-placeholder:focus {
      color: transparent; }
  .mailing__form input:-ms-input-placeholder {
    color: white; }
    .mailing__form input:-ms-input-placeholder:focus {
      color: transparent; }

.guarantee {
  margin: 0 0 35px 0; }

.guarantee__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.guarantee__title {
  margin: 0 0 38px 0; }

.guarantee__body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1082px) {
    .guarantee__body {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.guarantee__item {
  background-color: #fff;
  -webkit-box-shadow: 0 0 59px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 59px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 26px 55px;
  margin: 0 29px 30px 0;
  min-width: 224px; }
  @media (max-width: 1082px) {
    .guarantee__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%; } }
  @media (max-width: 480px) {
    .guarantee__item {
      margin: 0 0 30px 0; } }

.guarantee__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 45px;
  flex: 0 1 45px;
  margin: 0 0 31px 0; }

.guarantee__img img {
  max-width: 100%; }

.guarantee__text {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #000000;
  font-size: 18px;
  line-height: 22px; }

.copyright {
  background-color: #383434;
  padding: 20px 0; }

.copyright__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 600px) {
    .copyright__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.copyright a {
  color: #8b8787;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .copyright a:hover {
    color: white; }

.copyright__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .copyright__list li {
    margin: 0 35px 0; }
    .copyright__list li:last-child {
      margin: 0; }
  @media (max-width: 600px) {
    .copyright__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 0 20px 0; }
      .copyright__list li {
        margin: 0 0 22px 0; } }

.header {
  max-height: 160px;
  position: relative;
  z-index: 55; }

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__menu {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 278px;
  flex: 0 1 278px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 63px;
  flex: 0 1 63px;
  margin: 0 0 22px 0; }

.header__logo img {
  max-width: 100%; }

.header__list {
  position: relative;
  color: #fff;
  background-color: #e78216;
  width: 100%;
  cursor: pointer; }
  .header__list li {
    padding: 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header__list li:after {
      content: url("../../../img/icons/arrow_grey.webp");
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
  .header__list.sub > li:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .header__list.sub .list_sublist {
    display: block; }

.header__list a {
  color: #fff; }

.list_sublist {
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #f69600;
  display: none;
  position: absolute;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .list_sublist li {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .list_sublist li:hover {
      background-color: #fff; }
      .list_sublist li:hover:after {
        content: url("../../../img/icons/arrow_black.webp");
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
      .list_sublist li:hover > a {
        color: #000;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
      .list_sublist li:hover .sublist_sublist {
        display: block; }

.sublist_sublist {
  width: 100%;
  background-color: #e78216;
  position: absolute;
  top: 12.5%;
  left: 100%;
  display: none; }
  .sublist_sublist li {
    padding: 22.5px 15px; }
    .sublist_sublist li:hover {
      background-color: #f7f7f7; }
    .sublist_sublist li:after {
      display: none; }

.header__basket {
  background-color: #1bcdc3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 19px 0;
  max-height: 150px; }

.basket__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 22px;
  flex: 0 1 22px;
  margin: 0 0 30px 0; }

.basket__img img {
  max-width: 100%; }

.basket__text {
  display: inline-block;
  opacity: 0.6;
  font-size: 16px;
  color: white;
  padding: 0 25px;
  text-align: center;
  line-height: 18px; }

.header__center {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px 25px; }

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 15px 0; }

.header__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 25px; }

.icon {
  position: relative; }
  .icon:before {
    position: absolute;
    right: 100%;
    top: 0;
    margin: 0 12px 0 0; }

.numbers:before {
  content: url("../../../img/icons/phone.webp"); }

.numbers li {
  color: #010101;
  font-size: 15px;
  line-height: 22px; }
  .numbers li span {
    display: inline-block;
    font-weight: 700; }

.callback__links {
  font-size: 15px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.callback__numbers {
  margin: 0 62px 0 0; }

.callback__email {
  color: #000000;
  margin: 0 0 10px 0;
  right: 10px; }
  .callback__email:before {
    content: url("../../../img/icons/email.webp"); }

.callback__btn {
  display: inline-block;
  color: #ffffff;
  background-color: black;
  padding: 12px 30px;
  text-align: left;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .callback__btn:hover {
    background-color: #5c5c5c; }

.links__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 22px 0; }

.links__media li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  margin: 0 15px 0 0; }
  .links__media li a {
    display: inline-block;
    width: 100%;
    height: 100%; }
  .links__media li:hover {
    opacity: 0.8; }
  .links__media li:nth-child(1) {
    background: url("../../../img/icons/facebook.webp") no-repeat; }
  .links__media li:nth-child(2) {
    background: url("../../../img/icons/youtube_small.webp") no-repeat; }
  .links__media li:nth-child(3) {
    margin: 0;
    background: #7b519d url("../../../img/icons/viber.webp") center no-repeat; }

.links__login {
  color: #000;
  font-size: 15px; }
  .links__login:before {
    content: url("../../../img/icons/arrow.webp");
    cursor: pointer; }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__list li {
  margin: 0 24px 0 0; }
  .nav__list li:last-child {
    margin: 0; }

.nav__list li a {
  color: #000000;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 500; }
  .nav__list li a:hover {
    color: #00b5ab; }

* input::-webkit-input-placeholder {
  color: #999; }

* input:focus::-webkit-input-placeholder {
  color: transparent; }

* input:-moz-placeholder {
  color: #999; }

* input:focus:-moz-placeholder {
  color: transparent; }

* input::-moz-placeholder {
  color: #999; }

* input:focus::-moz-placeholder {
  color: transparent; }

* input:-ms-input-placeholder {
  color: #999; }

* input:focus:-ms-input-placeholder {
  color: transparent; }

.nav__search input {
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  height: 38px;
  padding: 0 15px;
  background-color: #e3e3e3; }
  .nav__search input:focus {
    cursor: text;
    border: 1px solid #fe9b00;
    background-color: #fdf9e4; }

.hamburger {
  display: none;
  z-index: 66; }

@media (max-width: 1082px) {
  .hamburger {
    padding: 8px 15px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    -o-transition-property: opacity, filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }
  .hamburger--emphatic {
    overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    -webkit-transition: background-color 0.125s 0.175s ease-in;
    -o-transition: background-color 0.125s 0.175s ease-in;
    transition: background-color 0.125s 0.175s ease-in; }
  .hamburger--emphatic .hamburger-inner::before {
    left: 0;
    -webkit-transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    -o-transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  .hamburger--emphatic .hamburger-inner::after {
    top: 10px;
    right: 0;
    -webkit-transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    -o-transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  .hamburger--emphatic.active .hamburger-inner {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: transparent !important; }
  .hamburger--emphatic.active .hamburger-inner::before {
    left: -80px;
    top: -80px;
    -webkit-transform: translate3d(80px, 80px, 0) rotate(45deg);
    transform: translate3d(80px, 80px, 0) rotate(45deg);
    -webkit-transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .hamburger--emphatic.active .hamburger-inner::after {
    right: -80px;
    top: -80px;
    -webkit-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
    transform: translate3d(-80px, 80px, 0) rotate(-45deg);
    -webkit-transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .header {
    padding: 10px 0; }
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__menu {
    position: absolute;
    width: 25%;
    top: 100%;
    left: -25%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; } }
  @media (max-width: 1082px) and (max-width: 768px) {
    .header__menu {
      left: -65%;
      width: 55%; } }
  @media (max-width: 1082px) and (max-width: 350px) {
    .header__menu {
      width: 50%;
      left: -100%; } }

@media (max-width: 1082px) {
    .header__menu li {
      padding: 20px; }
    .header__menu.active {
      left: 0; }
    .header__menu .header__logo {
      display: none; }
  .list_sublist {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    display: block;
    width: 100%; } }
  @media (max-width: 1082px) and (max-width: 979px) {
    .list_sublist {
      padding: 30px 0; } }
  @media (max-width: 1082px) and (max-width: 350px) {
    .list_sublist li {
      padding: 15px; } }

@media (max-width: 1082px) {
    .list_sublist.active {
      left: 0; }
  .header__basket {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    padding: 4px 10px;
    margin: 5px 0 15px 0; }
    .header__basket img {
      margin: 0; }
  .header__center {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    padding-top: 0;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 565%;
    left: -25%;
    background-color: #e3e3e3;
    padding: 50px 0;
    width: 25%; }
    .header__info.active {
      left: 0; } }
  @media (max-width: 1082px) and (max-width: 979px) {
    .header__info {
      padding: 50px 20px;
      top: 611.5%; } }
  @media (max-width: 1082px) and (max-width: 768px) {
    .header__info {
      left: -65%;
      width: 55%; } }
  @media (max-width: 1082px) and (max-width: 350px) {
    .header__info {
      left: -100%;
      top: 562.5%;
      width: 50%; } }

@media (max-width: 1082px) {
  .header__callback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0; }
    .header__callback .callback__numbers {
      margin: 0; }
    .header__callback .callback__email {
      right: 0; }
  .nav__list {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    left: -25%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    top: 430.5%;
    background-color: black;
    padding: 20px 0;
    width: 25%; } }
  @media (max-width: 1082px) and (max-width: 979px) {
    .nav__list {
      padding: 30px 0;
      top: 468.5%; } }
  @media (max-width: 1082px) and (max-width: 768px) {
    .nav__list {
      left: -65%;
      width: 55%; } }
  @media (max-width: 1082px) and (max-width: 350px) {
    .nav__list {
      left: -100%;
      top: 425.5%;
      width: 50%; } }

@media (max-width: 1082px) {
    .nav__list.active {
      left: 0; }
    .nav__list li {
      margin: 0 0 40px 0; }
    .nav__list li a {
      font-size: 14px;
      font-weight: normal;
      padding: 20px 11px;
      color: white;
      margin: 0 0 20px 0; }
  .header__links {
    display: none; }
  .sublist_sublist.active {
    display: block; } }
