/* Слайдер */
.slick-slider{
	position: relative;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	margin: 0 0 40px 0;
}
/* Слайд */
.slick-slide{
	margin: 0 35px 0 35px;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
	position: absolute;
	top:98%;
	transform: translateX(-50%);
	font-size: 0;
	width: 30px;
	height: 30px;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	left: 30%;
	transform:rotate(180deg);
	background: url('../../../img/icons/arrow-right.png') center center no-repeat;
	@include _768 {
		left: 18%;
	}
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	right: 30%;
	background: url('../../../img/icons/arrow-right.png') center center no-repeat;
		@include _768 {
		right: 18%;
	}
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{
	opacity: 0.4;
}
/* Точки (булиты) */
.slick-dots{
	position: absolute;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
}
.slick-dots li{
	opacity: 0.3;
	width: 10px;
    height: 10px;
    background: #5B9BF3;
    font-size: 0;
    border-radius: 50%;
    margin: 0 15px 0 0;
}
/* Активная точка */
.slick-dots li.slick-active{
	opacity: 1;
}
/* Элемент точки */
.slick-dots li button{
	font-size: 0;
}