@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-Regular.eot");
  src: local("☺"), url("../fonts/DancingScript-Regular.woff") format("woff"), url("../fonts/DancingScript-Regular.ttf") format("truetype"), url("../fonts/DancingScript-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myanmar Text';
  src: url("../fonts/mmrtextb.eot");
  src: local("☺"), url("../fonts/mmrtextb.woff") format("woff"), url("../fonts/mmrtextb.ttf") format("truetype"), url("../fonts/mmrtextb.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'themify';
  src: url("../fonts/themify.eot?-fvbane");
  src: url("../fonts/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify.woff?-fvbane") format("woff"), url("../fonts/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Roboto'; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto; }

.header {
  position: relative; }

.header__contacts {
  background-color: #fef7f6; }

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 660px) {
    .contacts__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      justify-content: center; } }

.contacts__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .contacts__email li {
    color: #000000;
    font-size: calc(11px + 1 * ((100vw - 320px) / 960));
    font-weight: 300;
    line-height: 27px;
    text-transform: uppercase;
    margin: 0 15px 0 0; }
    .contacts__email li:last-child {
      margin: 0; }
    .contacts__email li:first-child:before {
      display: none; }
    .contacts__email li:before {
      content: '';
      position: relative;
      top: 1px;
      display: inline-block;
      width: 1px;
      height: 10px;
      background-color: #777777;
      opacity: 0.5;
      margin: 0 11px 0 0; }

.contacts__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .contacts__language > li {
    color: #000000;
    position: relative;
    font-size: calc(11px + 1 * ((100vw - 320px) / 960));
    font-weight: 300;
    line-height: 27px;
    text-transform: uppercase;
    margin: 0 0 0 15px; }
    .contacts__language > li:first-child {
      margin: 0; }
      .contacts__language > li:first-child:before {
        display: none; }
    .contacts__language > li:before {
      content: '';
      position: relative;
      top: 1px;
      display: inline-block;
      width: 1px;
      height: 10px;
      background-color: #777777;
      opacity: 0.5;
      margin: 0 11px 0 0; }
    .contacts__language > li span {
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      display: inline-block;
      font-family: 'themify';
      position: relative;
      top: 1px;
      left: 5px; }
    body.mouse .contacts__language > li:hover .language__list {
      display: block; }
    .contacts__language > li .language__list {
      display: none;
      top: 100%;
      left: 0px;
      position: absolute;
      background-color: #fef7f6;
      padding: 5px 10px;
      z-index: 2;
      width: 100%;
      text-align: center; }
      .contacts__language > li .language__list li a {
        color: inherit;
        position: relative; }
        body.mouse .contacts__language > li .language__list li a:hover:before {
          width: 100%;
          left: 0;
          background-color: black; }
        .contacts__language > li .language__list li a:before {
          content: '';
          -webkit-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
          position: absolute;
          top: 110%;
          left: 50%;
          height: 2px;
          width: 00000%; }

.header__nav {
  padding: 25px 0; }

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.nav__logo {
  color: #000000;
  font-family: "Myanmar Text";
  position: relative;
  top: 5px;
  font-size: calc(28px + 6 * ((100vw - 320px) / 960));
  font-weight: 700;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  body.mouse .nav__logo:hover {
    opacity: 0.6; }
  .nav__logo span {
    color: #ff5353; }

.hamburger {
  display: none; }

.nav__list {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .nav__list li {
    margin: 0 40px 0 0;
    position: relative;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    body.mouse .nav__list li:hover > a {
      color: #ff5353; }
    body.mouse .nav__list li:hover .nav__sublist {
      display: block; }
    .nav__list li:last-child {
      margin: 0; }
    .nav__list li:first-child span {
      font-family: 'themify'; }
    .nav__list li a {
      color: #000000;
      font-size: calc(14px + 3 * ((100vw - 320px) / 960));
      font-weight: 500;
      text-transform: uppercase;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }

.nav__sublist {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: -32px;
  width: 400px;
  top: 100%;
  padding: 33px 0 0 0;
  z-index: 3;
  background-color: transparent; }

.sublist__list {
  -webkit-box-shadow: 0px -3px 27px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -3px 27px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -3px 27px -10px rgba(0, 0, 0, 0.75); }
  .sublist__list li {
    background-color: white;
    position: relative;
    color: black;
    width: 100%;
    text-align: left;
    font-size: calc(14px + 3 * ((100vw - 320px) / 960));
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    body.mouse .sublist__list li:hover {
      background-color: #fef7f6; }
    .sublist__list li a {
      width: 100%;
      padding: 15px;
      display: inline-block;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .sublist__list li:last-child {
      margin: 0; }
    .sublist__list li:first-child:after {
      display: none; }

.nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav__search li {
    margin: 0 31px 0 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    body.mouse .nav__search li:hover {
      opacity: 0.6; }
    .nav__search li:last-child {
      margin: 0; }
    .nav__search li a {
      color: #000000;
      font-family: 'themify';
      font-size: 17px;
      font-weight: 400;
      position: relative; }
      .nav__search li a:after {
        content: '3';
        background-color: red;
        width: 16px;
        height: 16px;
        font-size: 13px;
        color: #ffff;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        bottom: 12px;
        left: 12px; }

@media (max-width: 800px) {
  .nav__list {
    display: none; }
  .nav__list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    left: 0;
    width: 80%;
    margin: 0 10%;
    -webkit-box-shadow: 5px 20px 28px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 20px 28px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 20px 28px 0px rgba(0, 0, 0, 0.75);
    background-color: #fff; }
    .nav__list.active li {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%;
      position: relative;
      left: 0;
      margin: 0; }
      .nav__list.active li a {
        display: inline-block;
        padding: 15px;
        width: 100%; }
      .nav__list.active li:first-child:after {
        left: 0; }
      .nav__list.active li:last-child {
        margin: 0; }
  .nav__sublist.open {
    display: block; }
  .arrow {
    position: absolute;
    top: 19%;
    right: 5%;
    z-index: 2;
    font-size: 20px;
    padding: 15px;
    line-height: 0; }
  .arrow.active {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 3%;
    right: 5%; }
  .nav__sublist {
    display: none;
    position: relative;
    width: 100%;
    padding: 0;
    left: 0;
    background-color: #fef7f6;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0;
    position: relative;
    left: 0;
    top: 0;
    text-align: left; }
    .nav__sublist .sublist__list {
      padding: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .nav__sublist li {
      padding: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%;
      margin: 0 0 35px 0;
      position: relative;
      left: 0;
      top: 0;
      text-align: left;
      background: none; }
      .nav__sublist li a {
        color: black; }
      .nav__sublist li:last-child {
        margin: 0; }
  .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    -o-transition-property: opacity, filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
  body.mouse .hamburger:hover {
    opacity: 0.7; }
  body.mouse .hamburger .active:hover {
    opacity: 0.7; }
  .hamburger .active .hamburger-inner,
  .hamburger .active .hamburger-inner::before,
  .hamburger .active .hamburger-inner::after {
    background-color: #000; }
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }
  .hamburger .hamburger-inner {
    -webkit-transition-duration: 0.22s;
    -o-transition-duration: 0.22s;
    transition-duration: 0.22s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    -o-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger.active .hamburger-inner {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transition-delay: 0.12s;
    -o-transition-delay: 0.12s;
    transition-delay: 0.12s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger.active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    -o-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger.active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); } }

.block {
  margin: 0 0 150px 0; }

.fullscreen {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.fullscreen img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.fashion {
  background-color: #e4d8ca;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa6bb), color-stop(48%, #f0cbc3), color-stop(99%, #e3938c), to(#e3938c));
  background-image: -webkit-linear-gradient(left, #ffa6bb 0%, #f0cbc3 48%, #e3938c 99%, #e3938c 100%);
  background-image: -o-linear-gradient(left, #ffa6bb 0%, #f0cbc3 48%, #e3938c 99%, #e3938c 100%);
  background-image: linear-gradient(to right, #ffa6bb 0%, #f0cbc3 48%, #e3938c 99%, #e3938c 100%); }

.fashion__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px; }
  @media (max-width: 768px) {
    .fashion__row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.fashion__text {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 44%;
  flex: 0 1 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 0; }
  @media (max-width: 768px) {
    .fashion__text {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; } }

.fashion__subtitle {
  color: #565656;
  font-size: calc(12px + 2 * ((100vw - 320px) / 960));
  font-weight: 500;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  margin: 0 0 0px 0; }
  @media (max-width: 600px) {
    .fashion__subtitle {
      line-height: 50px; } }

.fashion__title {
  color: #000000;
  font-size: calc(32px + 18 * ((100vw - 320px) / 960));
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  margin: 0 0 30px 0; }
  @media (max-width: 600px) {
    .fashion__title {
      line-height: 50px; } }

.fashion__btn {
  margin: 0 0 35px 0; }

.btn {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  padding: 20px 47px;
  border-radius: 3px;
  background-color: #ff5353;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  body.mouse .btn:hover {
    background-color: white;
    color: black; }

.fashion__img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%; }
  @media (max-width: 768px) {
    .fashion__img {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }

.fashion__img img {
  max-width: 100%; }

.featured__title {
  text-align: center; }

.title {
  color: #000000;
  font-size: calc(25px + 11 * ((100vw - 320px) / 960));
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 0 90px 0; }
  @media (max-width: 768px) {
    .title {
      margin: 0 0 45px 0; } }

.featured__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  min-height: 0; }

.featured__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33%;
  flex: 0 1 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 15px; }

.featured__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 360px;
  flex: 0 1 360px;
  margin: 0 0 35px 0; }
  .featured__img > a {
    cursor: -webkit-grab;
    cursor: grab; }
  .featured__img img {
    max-width: 100%; }
  body.mouse .featured__img:hover .featured__links {
    visibility: visible;
    opacity: 1; }

.featured__links {
  position: absolute;
  bottom: 10%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  visibility: hidden;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .featured__links a {
    font-family: 'themify';
    padding: 12.5px;
    text-align: center;
    -webkit-box-shadow: 0 3px 9px 1px rgba(15, 33, 97, 0.05);
    box-shadow: 0 3px 9px 1px rgba(15, 33, 97, 0.05);
    border-radius: 50%;
    color: #2a2a2a;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    background-color: #ffffff;
    color: #2a2a2a;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    body.mouse .featured__links a:hover {
      background-color: #ff5353;
      color: white; }

.featured__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.featured__subtitle {
  color: #888888;
  font-size: 14px;
  margin: 0 0 15px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 10px;
  text-align: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  body.mouse .featured__subtitle:hover {
    opacity: 0.6; }

.featured__stars {
  margin: 0 0 15px 0; }

.stars__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.stars__list li {
  margin: 0 5px 0 0; }
  .stars__list li:last-child {
    margin: 0; }

.featured__price {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  body.mouse .featured__price:hover {
    opacity: 0.6; }

/* Слайдер */
.slick-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: -webkit-grab;
  cursor: grab; }

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  margin: 0 0 55px 0; }

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: -webkit-grab;
  cursor: grab; }

/* Слайд */
.slick-slide {
  cursor: -webkit-grab;
  cursor: grab; }

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  margin: 0 auto; }

.slick-dots li {
  cursor: pointer;
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #ff5353;
  border-radius: 50%;
  margin: 0 15px 0 0; }
  @media (max-width: 480px) {
    .slick-dots li {
      width: 10px;
      height: 10px;
      margin: 0 10px 0 0; } }
  .slick-dots li:last-child {
    margin: 0; }

/* Активная точка */
.slick-dots li.slick-active {
  background-color: #fff;
  border: 2.5px solid #ff5353;
  cursor: default; }
  @media (max-width: 480px) {
    .slick-dots li.slick-active {
      border: 1.5px solid #ff5353; } }

/* Элемент точки */
.slick-dots li button {
  font-size: 0; }

.off {
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear, left top, right top, from(#e9e1d8), color-stop(48%, #f7f2eb), color-stop(99%, #e4dacf), to(#e4dacf));
  background-image: -webkit-linear-gradient(left, #e9e1d8 0%, #f7f2eb 48%, #e4dacf 99%, #e4dacf 100%);
  background-image: -o-linear-gradient(left, #e9e1d8 0%, #f7f2eb 48%, #e4dacf 99%, #e4dacf 100%);
  background-image: linear-gradient(to right, #e9e1d8 0%, #f7f2eb 48%, #e4dacf 99%, #e4dacf 100%); }

.off__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px; }
  @media (max-width: 768px) {
    .off__row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.off__text {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 44%;
  flex: 0 1 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0; }
  @media (max-width: 768px) {
    .off__text {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; } }

.off__subtitle {
  color: #4a4a4a;
  font-size: calc(15px + 10 * ((100vw - 320px) / 960));
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0 0 25px 0; }

.off__title {
  color: #2a2a2a;
  font-family: "Dancing Script";
  font-weight: 700;
  text-align: center;
  line-height: 75px;
  font-size: calc(25px + 15 * ((100vw - 320px) / 960));
  text-transform: uppercase; }
  @media (max-width: 600px) {
    .off__title {
      line-height: 50px; } }

.off__btn {
  margin: 0 0 35px 0; }

.off__img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%; }
  @media (max-width: 768px) {
    .off__img {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      margin: 0 0 35px 0;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }

.off__img img {
  max-width: 100%; }

.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -15px; }
  @media (max-width: 979px) {
    .cards__row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.cards__card {
  padding: 0 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 979px) {
    .cards__card {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%;
      margin: 0 0 20px 0; } }
  @media (max-width: 480px) {
    .cards__card {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; } }

.cards__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border: 1px solid #ebeef0;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.cards__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 56px;
  flex: 0 1 56px; }

.cards__body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center; }

.cards__title {
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 0 15px 0; }

.cards__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #888888;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.35px; }

.popular {
  margin: 0 0 90px 0; }

.popular__title {
  text-align: center; }

.popular__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  min-height: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.popular__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 15px;
  margin: 0 0 80px 0; }
  @media (max-width: 979px) {
    .popular__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
      flex: 0 1 33.333%; } }
  @media (max-width: 768px) {
    .popular__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%; } }
  @media (max-width: 480px) {
    .popular__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; } }

.popular__img {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
  margin: 0 0 35px 0; }
  .popular__img img {
    max-width: 100%; }
  body.mouse .popular__img:hover .popular__links {
    visibility: visible;
    opacity: 1; }

.popular__links {
  position: absolute;
  bottom: 15%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  visibility: hidden;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .popular__links a {
    font-family: 'themify';
    padding: 8.5px;
    text-align: center;
    -webkit-box-shadow: 0 3px 9px 1px rgba(15, 33, 97, 0.05);
    box-shadow: 0 3px 9px 1px rgba(15, 33, 97, 0.05);
    border-radius: 50%;
    color: #2a2a2a;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    background-color: #ffffff;
    color: #2a2a2a;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    body.mouse .popular__links a:hover {
      background-color: #ff5353;
      color: white; }

.popular__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.popular__subtitle {
  color: #888888;
  font-size: 14px;
  margin: 0 0 15px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 10px;
  text-align: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  body.mouse .popular__subtitle:hover {
    opacity: 0.6; }

.popular__stars {
  margin: 0 0 15px 0; }

.popular__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .popular__list li {
    margin: 0 5px 0 0; }
    .popular__list li:last-child {
      margin: 0; }

.popular__price {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  body.mouse .popular__price:hover {
    opacity: 0.6; }

.popular__filter {
  text-align: center;
  margin: 0 0 17.5px 0; }

.control {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #ff5353;
  font-size: calc(15px + 2 * ((100vw - 320px) / 960));
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: transparent;
  margin: 0 0 17.5px 0; }
  body.mouse .control:hover {
    opacity: 0.6; }

.mixitup-control-active {
  color: #e4d8ca; }

.popular__filter button:nth-child(even) {
  margin: 0 66px; }
  @media (max-width: 480px) {
    .popular__filter button:nth-child(even) {
      margin: 0 22px; } }

.journal__title {
  text-align: center; }

.journal__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.journal__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 15px;
  margin: 0 0 80px 0; }
  @media (max-width: 979px) {
    .journal__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%; } }
  @media (max-width: 768px) {
    .journal__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; } }

.journal__img {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
  margin: 0 0 35px 0; }
  .journal__img a {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    body.mouse .journal__img a:hover {
      opacity: 0.6; }
  .journal__img img {
    max-width: 100%; }

.journal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 359px;
  margin: 0 auto;
  padding: 0 5px; }

.journal__subtitle {
  color: #888888;
  font-size: 13px;
  line-height: 27px;
  text-align: left;
  margin: 0 0 15px 0; }

.journal__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 25px 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  body.mouse .journal__text:hover {
    opacity: 0.6; }

.journal__comments {
  border-top: 1px solid #e1e1e1;
  padding: 25px 0 0 0;
  color: #888888;
  font-size: 14px;
  line-height: 30px; }
  .journal__comments span {
    margin: 0 30px 0 0; }
    .journal__comments span:before {
      content: '';
      position: relative;
      margin: 0 10px 0 0;
      color: #8a8a8a;
      font-family: 'themify';
      font-size: 13px;
      line-height: 30px; }
    .journal__comments span:nth-child(odd):before {
      content: ''; }

.footer {
  background-color: #f2ece4; }

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 768px) {
    .footer__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.footer__block {
  margin: 0 15px 0 0; }
  @media (max-width: 768px) {
    .footer__block {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      margin: 0 15px 25px 0; } }

.footer__title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
  margin: 0 0 25px 0; }
  @media (max-width: 768px) {
    .footer__title {
      margin: 0 0 15px 0;
      text-align: center; } }

@media (max-width: 768px) {
  .footer__list {
    text-align: center; } }

.footer__list li {
  font-size: 14px;
  line-height: 30px;
  margin: 0 0 7px 0; }
  .footer__list li a {
    color: #888888;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    body.mouse .footer__list li a:hover {
      opacity: 0.6; }

.follow__title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  text-align: center; }

.footer__follow a {
  font-family: 'themify';
  display: inline-block;
  padding: 15px;
  background-color: #fff;
  color: black;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  body.mouse .footer__follow a:hover {
    color: white;
    background-color: #ff5353; }
